
.g-organizers { @extend %tac; }

.c-organizers {
  @extend %lap--ten-twelfths;

  color: $color-white;
  background-color: $color-red;
  padding-left: $padding-body*2 !important;
  margin-top: 9rem;
  position: relative;

  @include bp(small) { margin-top: 11.25rem; }

  &:before,
  &:after {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &:before {
    background-image: linear-gradient(to bottom, $color-blue 0%, $color-blue 50%, $color-red 51%, $color-red 100%);
    width: 10vw;
    height: 10vw;
    bottom: -5vw;
    max-width: 5rem;
    max-height: 5rem;

    @include bp(medium) { bottom: -2.5rem; }
  }

  &:after {
    width: 6vw;
    height: 6vw;
    bottom: -3vw;
    background-image: linear-gradient(to bottom, $color-red 0%, $color-red 50%, $color-white 51%, $color-white 100%);
    max-height: 2.875rem;
    max-width: 2.875rem;

    @include bp(medium) { bottom: -1.5rem; }
  }
}

.c-organizers__paragraph {
  @extend %lap--ten-twelfths;

  margin: 0 auto;
}

.c-organizers__svg {
  position: absolute;
  top: -7.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 18.75rem;

  @include bp(small) {
    max-width: 21.875rem;
    top: -9rem;
  }
}

// .corganizers__svg-c {}

.c-organizers__svg-s1 { transform: translateY(50px); }

// .c-organizers__svg-s2 {}

.c-organizers-st0 {
  fill: $color-white;
  stroke: $color-black;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.c-organizers-st1 {
  fill: $color-red;
  stroke: $color-black;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.c-organizers-st2 {
  fill: $color-blue;
  stroke: $color-black;
  stroke-width: 3;
}

.c-organizers-st3 {
  fill: $color-yellow;
  stroke: $color-black;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.c-organizers-st4 {
  fill: $color-white;
  stroke: $color-black;
  stroke-width: 3;
}

.c-organizers-st5 {
  fill: $color-blue;
  stroke: $color-black;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.c-organizers-st7 {
  display: inline;
  fill: $color-black;
}

.c-organizers-st8 {
  fill: $color-yellow;
  stroke: $color-black;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.c-organizers-st9 {
  fill: $color-red;
  stroke: $color-black;
  stroke-width: 3;
}

.img-row {
  @extend %cf;

  margin-top: -$padding-body*5; // Every section has padding which we do not want in this case
  margin-right: -$padding-body*2; //
  margin-left: -$padding-body*2; //
  margin-bottom: $padding-body*2; //
}

.img-row__element {
  width: 33.333%;
  float: left;
}

