

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ul,
ol { margin-top: 0; }

body {
  padding-left: .625rem;
  padding-right: .625rem;
}

%nav {
  padding: 0;
  list-style: none;
}

%full-width {
  margin-left: -.625rem;
  margin-right: -.625rem;
}