

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ul,
ol { margin-top: 0; }

body {
  @include bp(small) {
    padding-left: $padding-body;
    padding-right: $padding-body;
  }

  @include bp(medium) {
    padding-left: $padding-body*2;
    padding-right: $padding-body*2;
  }
}

section { padding: 60px 20px; }

.grid {
  @extend %grid;
  @extend %grid--center;
  @extend %grid--full;
}

.c-thank-you {
  @extend %tac;
  @extend %bgc;
}

.c-team {
  @extend %tac;
  @extend %lap--eight-twelfths;
  @extend %grid__item;
  padding-left: 20px !important;
}

.arrow {}

.arrow__link { display: inline-block; }

.arrow__svg--black {
  width: 20vw;
  fill: $color-black;
}

