

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ul,
ol { margin-top: 0; }

body {
  @include bp(small) {
    padding-left: $padding-body;
    padding-right: $padding-body;
  }

  @include bp(medium) {
    padding-left: $padding-body*2;
    padding-right: $padding-body*2;
  }
}

section { padding: 60px 20px; }

.grid { @extend %grid }

.c-thank-you {
  @extend %tac;
  @extend %bgc;
}

.c-team { @extend %tac; }

.c-organizers {
  color: $color-white;
  background-color: $color-red;
  @extend %tac;
  @extend %grid__item;
}

.img-row {
  margin-top: -60px;
  margin-left: -24px;
  margin-right: -20px;
  margin-bottom: 30px;
  @extend %cf;
}

.img-row__element {
  width: 33.333%;
  float: left;
}

%grid {
  @include bp(small) {
    padding-left: $padding-body*2 !important;
  }
}