// Helpers

%nav {
  padding: 0;
  list-style: none;
}

%full-width {
  margin-left: -$padding-body;
  margin-right: -$padding-body;
}

%tac { text-align: center; }

%bgc { background-color: $color-beige; }

%cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}