

.image--has-single-border {
  width: 100%;
  height: auto;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: content-box;
  margin-left: -$padding-body*2;

  @include bp(small) {
    margin-left: -$padding-body*3;
    max-width: 400px;
  }

  @include bp(medium) { margin-left: -$padding-body*4; }

  &:after {
    position: absolute;
    content: "";
    width: inherit;
    height: 1rem;
    left: -$padding-body*3;
    bottom: .8rem;
    background-color: $color-blue;
    max-width: inherit;
    // z-index: -1;
    mix-blend-mode: multiply;

    @include bp(small) { left: -$padding-body*4; }
  }
}

//Left is default -> helper class
.image--is-positioned-right {
  float: right;
  margin-right: -$padding-body*2;
  margin-left: auto;

  @include bp(small) { margin-right: -$padding-body*3; }

  @include bp(medium) { margin-right: -$padding-body*4; }

  &:after {
    right: -$padding-body*3;
    left: auto;
  }
}

.image-single-border {
  width: inherit;
  height: inherit;
  max-width: inherit;
}