

.image--has-single-border {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: content-box;
  margin-left: -$padding-body*2;

  @include bp(small) { margin-left: -$padding-body*3; }

  @include bp(medium) { margin-left: -$padding-body*4; }

  > img {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
  }

  &:after {
    position: absolute;
    content: "";
    width: inherit;
    height: 1rem;
    left: -$padding-body*3;
    bottom: .5rem;
    background-color: $color-blue;
    max-width: inherit;
    z-index: -1;

    @include bp(small) {
      left: -$padding-body*4;
    }
  }
}

//Left is default -> helper class

.image--is-positioned-right {
  float: right;
  margin-right: -$padding-body*2;
  margin-left: auto;

  @include bp(small) { margin-right: -$padding-body*3; }

  @include bp(medium) { margin-right: -$padding-body*4; }

  &:after {
    right: -$padding-body*3;
    left: auto;
  }
}