

.btn {
  color: $color-white;
  background-color: $color-blue;
  font-size: $font-size-base;
  padding: .4rem 1rem .3rem;
  border: 3px solid $color-blue;
  margin-bottom: $margin-base;
  display: inline-block;

  &:hover {
    background-color: transparent;
    color: $color-blue
  } //TODO: Define hover state

  &--is-active {
    @extend .btn:hover;
  }
}

.btn-caps {
 @extend .btn;
  text-transform: uppercase;
  font-size: 90%;
}

//TODO: Build button mixin