

//TODO: Build mixin out ouf it
//TODO: Eventually replace with figure instead of div
.image--has-border {
  position: relative;
  margin: 0 auto;
  width: 12.5rem;
  height: 12.5rem;
  display: block;
  margin-bottom: 4rem; //TODO: Remove — just for demo purposes


  > img {
    width: inherit;
    height: inherit;
  }

  &:before,
  &:after {
    transition: all .3s ease-in-out; //TODO: Make this only available on larger viewports
    width: inherit;
    height: inherit;
    content: "";
    position: absolute;
    z-index: -1;
    border: 3px solid $color-black;
  }

  &:before {
    top: -1rem;
    left: -1rem;
  }

  &:after {
    top: 1rem;
    left: 1rem;
  }

  &:hover {

    &:before {
      top: -1.25rem;
      left: -1.25rem;
    }

    &:after {
      top: 1.25rem;
      left: 1.25rem;
    }
  }
}