//TODO: Add responsive behaviour

.social-bar {
  @extend %cf;

  // @include bp(small) {
  //   margin-left: -$padding-body;
  //   margin-right: -$padding-body;
  // }

  // @include bp(medium) {
  //   margin-left: -$padding-body*2;
  //   margin-right: -$padding-body*2;
  // }
}

.social-bar__list { @extend %nav; }

.social-bar__list-element {
  width: 33.3%;
  float: left;
}

[class^="social-bar__link"] {
  display: block;
  width: 100%;
  border-bottom: none;
  color: $color-white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: lowercase;
  border: 3px solid;

  &:hover { background-color: transparent; }
}

.social-bar__link-youtube {
  background-color: $color-red;
  border-color: $color-red;

  &:hover { color: $color-red; }
}

.social-bar__link-google {
  background-color: $color-black;
  border-color: $color-black;

  &:hover { color: $color-black; }
}

.social-bar__link-twitter {
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover { color: $color-blue; }
}