//TODO: Add responsive behaviour

.social-bar { @extend %cf; }

.social-bar__list { @extend %nav; }

.social-bar__list-element {
  width: 33.3%;
  float: left;
}

[class^="social-bar__link"] {
  display: block;
  width: 100%;
  border-bottom: none;
  color: $color-white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: lowercase;

  &:hover {} //TODO: Add hover effect
}

.social-bar__link-youtube { background-color: $color-red; }

.social-bar__link-google { background-color: $color-black; }

.social-bar__link-twitter { background-color: $color-blue; }