

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-black;
  font-family: 'nunitolight', sans-serif;
  font-weight: 300;
}

p { margin-bottom: $margin-base; }

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {} //TODO: Set hover state
}

p > a,
.anchor--has-underline {
  color: $color-blue;
  background-image: linear-gradient(transparent 85%, $color-yellow 15%);
  background-repeat: repeat-x;
  background-position: 0 -2px;
}

h1 {
  font-size: $font-size-64;
  color: $color-red;
  font-family: montserratbold, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: $margin-base;
  line-height: .9375;
}

h2 {
  font-size: $font-size-34;
  color: $color-blue;
  font-family: montserratbold, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: $margin-base/2;
}

.h2--is-red { color: $color-red; }

h3 {
  font-size: $font-size-24;
  color: $color-black;
  font-family: nunitolight, sans-serif;
  font-weight: 300;
  margin-bottom: $margin-base/2;
}

h4 { margin-bottom: $margin-base/2}

ul,
ol { margin-bottom: $margin-base; }

ul { padding-left: 1.25rem; }

ol { padding-left: 1.6875rem; }