

.btn {
  color: $color-white;
  background-color: $color-blue;
  font-size: $font-size-base;
  padding: .4rem 1rem .3rem;
  border-bottom: none;

  &:hover {} //TODO: Define hover state
}

.btn-caps {
 @extend .btn;
  text-transform: uppercase;
  font-size: 90%;
}

//TODO: Build button mixin