

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

p {}

h1 {
  font-size: $font-size-64;
  color: $color-red;
}

h2 {
  font-size: $font-size-34;
  color: $color-blue;
}

h3 {}

h4 {}
