

$color-blue: #2176ff;
$color-beige: #f5f2e6;
$color-red: #ea3939;
$color-black: #212121;
$color-yellow: #fcc720;
$color-white: #fff;

$font-size-base: 1.125em; //18px
$font-size-16: .888888889em;
$font-size-21: 1.166666667em;
$font-size-24: 1.333333333em;
$font-size-34: 1.888888889em;
$font-size-64: 3.555555556em;
