<nav class="nav-sub">
  <ul class="nav-sub__list">
    <li class="nav-sub__list-item"><a href="/" class="anchor--has-underline">Code of Conduct</a></li>
    <li class="nav-sub__list-item"><a href="/" class="anchor--has-underline">Accessibility</a></li>
    <li class="nav-sub__list-item"><a href="/" class="anchor--has-underline">Diversity Statement</a></li>
    <li class="nav-sub__list-item"><a href="/" class="anchor--has-underline">CSSconf EU 2013</a></li>
    <li class="nav-sub__list-item"><a href="/" class="anchor--has-underline">CSSconf EU 2014</a></li>
  </ul>
</nav>