<nav class="nav-sub">
  <ul class="nav-sub__list">
    <li class="nav-sub__list-item">
      <a href="/code-of-conduct.html" class="anchor--has-underline">Code of Conduct</a>
    </li>
    <li class="nav-sub__list-item">
      <a href="/accessibility.html" class="anchor--has-underline">Accessibility</a>
    </li>
    <li class="nav-sub__list-item">
      <a href="/diversity-support-tickets.html" class="anchor--has-underline">Diversity Tickets</a>
    </li>
    <!-- <li class="nav-sub__list-item">
      <a href="/call-for-speakers.html" class="anchor--has-underline">Call for Speakers</a>
    </li> -->
    <li class="nav-sub__list-item">
      <a href="http://2014.cssconf.eu/" class="anchor--has-underline">CSSconf EU 2014</a>
    </li>
    <li class="nav-sub__list-item">
      <a href="http://2013.cssconf.eu/" class="anchor--has-underline">CSSconf EU 2013</a>
    </li>
  </ul>
</nav>
