<nav class="nav-main">
  <a class="nav-main__link-home" href="/">
    <h1 class="nav-main__headline-one">CSSconf EU</h1>
    <h2 class="nav-main__headline-two">Berlin, September 26, 2015</h2>
  </a>
  <ul class="nav-main__list nav-main__list--is-active">
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/">Speakers</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/">Schedule</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/">Info</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link nav-main__link--is-active" href="/">Sponsors</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/">Blog</a>
    </li>
  </ul>
  <a class="nav-button" toggle="true" href="/">Menu</a>
  <div class="btn">Buy Ticket</div>
</nav>