<nav class="nav-main">
  <a class="nav-main__link-home" href="/">
    <h1 class="nav-main__headline-one">CSSconf EU</h1>
    <h2 class="nav-main__headline-two">Berlin, September 26, 2015</h2>
  </a>
  <ul class="nav-main__list" data-state="closed">
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/speakers.html">Speakers</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/schedule.html">Schedule</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/info.html">Info</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link nav-main__link--is-active" href="/sponsors.html">Sponsors</a>
    </li>
    <li class="nav-main__list-item">
      <a class="nav-main__link" href="/blog.html">Blog</a>
    </li>
  </ul>
  <a class="nav-toggle" href="/">Menu</a>
  <div class="btn">Buy Ticket</div>
</nav>