---
menu:
  - title: Info
    route: info
  - title: Speakers
    route: speakers
  - title: Schedule
    route: schedule
  - title: Team
    route: team
---
<nav class="nav-main">
  <div id="soldOutBanner" class="sold-out" style="display: none"><span>We've sold out! But don't worry, you can still become a sponsor <a href="/sponsors/" class="anchor--has-underline">here</a>.</span><div id="closeSoldOutBanner" class="cross"></div></div>
  <a class="nav-main__link-home" href="/">
    <h1 class="nav-main__headline-one">CSSconf EU</h1>
    <h2 class="nav-main__headline-two">Berlin, September 26, 2015</h2>
  </a>
  <ul class="nav-main__list" data-state="closed">
    {{#forEach navmain.menu}}
      <li class="nav-main__list-item">
        <a href="/{{route}}/" class="nav-main__link{{#is ../page.basename route }} nav-main__link--is-active{{/is}}">{{title}}</a>
        {{#is ../page.basename route}}
          <svg class="nav-main__link-decoration">
            <use xlink:href="#nav-main__svg"></use>
          </svg>
        {{/is}}
      </li>
    {{/forEach}}
    <li class="nav-main__list-item">
      <a href="http://blog.cssconf.eu" class="nav-main__link">Blog</a>
    </li>
  </ul>
  <a class="nav-toggle" href="/">Menu</a>
  <!-- <a href="http://2015.cssconf.eu/sponsors/" class="btn--special">
    <span class="btn__span" data-hover="Become a sponsor">Become a sponsor</span>
  </a> -->
  <a href="https://ti.to/cssconfeu/cssconf-eu-2015/" class="btn--special">
    <span class="btn__span" data-hover="Buy Ticket">Buy Ticket</span>
  </a>
</nav>
