<div class="rw page-footer">
  <footer class="c-cssfamily">
    <img class="cssconf-family-logo" src="assets/img/cssconf-family-logo.png" alt="">
    <h1 class="fz-gamma">CSSconf EU is part of the international CSSconf family.</h1>
    <ul class="list cssconf-family-list">
      <li class="cssconf-family-list__item"><a class="anchor--has-underline" href="/">CSSconf US</a></li>
      <li class="cssconf-family-list__item"><a class="anchor--has-underline" href="/">CSSconf Asia</a></li>
      <li class="cssconf-family-list__item"><a class="anchor--has-underline" href="/">CSSconf AU</a></li>
    </ul>
  </footer>
</div>