<nav class="social-bar">
  <ul class="social-bar__list">
    <li class="social-bar__list-element">
      <a class="social-bar__link-twitter" href="/">Twitter</a>
    </li>
    <li class="social-bar__list-element">
      <a class="social-bar__link-google" href="/">Google+</a>
    </li>
    <li class="social-bar__list-element">
      <a class="social-bar__link-youtube" href="/">Youtube</a>
    </li>
  </ul>
</nav>