---
speakers:
  - name: Claudina Sarahe
    bio: 'Claudina is an NYC-based entrepreneur, front-end architect, tech event organizer, and speaker. She curates SassConf and runs the monthly NYC Sass meetup.'
    image-path: 'assets/img/speakers/claudina-sarahe.jpg'

  - name: 'Lea Verou'
    bio: 'Lea is a speaker, author of “CSS Secrets”, and an Invited Expert in the CSS Working Group. She worked as a Developer Advocate for the W3C and is currently a Research Assistant at MIT.'
    image-path: 'assets/img/speakers/lea-verou.jpg'

---
<div class="speakers__slider">
  <div class="speakers__slider-element">
  {{#forEach speaker.speakers}}
    <div class="speakers__item">
      <div class="image--has-border">
        <img src="{{ image-path }}" alt="">
      </div>
      <h2>
        {{name}}
      </h2>
      <p>{{ bio }}</p>
    </div>
  {{/forEach}}
  </div>
</div>

