---
speakers:
  - name: 'Lea Verou'
    bio: 'Lea Verou is a front end web developer, speaker and author, currently a Research Assistant at MIT'
    image-path: 'assets/img/speakers/lea-verou.jpg'

  - name: Claudina Sarahe
    bio: 'Claudina Sarahe is an entrepreneur with a background in front-end web development, focused on large, scale web applications and sites'
    image-path: 'assets/img/speakers/claudina-sarahe.jpg'
---
<div class="speakers__slider">
  <div class="speakers__slider-element">
  {{#forEach speaker.speakers}}
    <div class="speakers__item">
      <div class="image--has-border">
        <img src="{{ image-path }}" alt="">
      </div>
      <h2>
        {{name}}
      </h2>
      <p>{{ bio }}</p>
    </div>
  {{/forEach}}
  </div>
</div>
