<div class="rw g-sponsors-reel section--tight">
  <section class="sponsors">
    <h1 class="sponsors__headline fz-beta fz--is-red">Sponsors</h1>
    <div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-hoodie.svg" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-sinnerschrader.svg" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-travis.svg" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/{{version '_'}}/img/logo-github.svg" alt="">
    </div>
  </section>
</div>
