<div class="rw g-sponsors-reel section--tight">
  <section class="sponsors">
    <h1 class="fz-gamma fz--is-grey">Sponsors</h1>
    <div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-1.png" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-2.png" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-3.png" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-4.png" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-1.png" alt="">
    </div><!--
    --><div class="cl sponsors__logo">
      <img class="sponsors__img" src="/assets/img/sponsor-logo-2.png" alt="">
    </div>
  </section>
</div>
