<div class="rw stage">
<img class="stage__item"
srcset="assets/img/stage-2400.png 2400w,
       assets/img/stage-1200.png 1200w,
       assets/img/stage-600.png 600w"
src="assets/img/stage-600.png"
alt="CSSconf written in line artwork." />
</div>