<div class="rw g-team">
  <section class="cl c-team">
    <h1>The Team</h1>
    <p>This event is made possible by the great work of the many volunteers who spend a lot of their time pouring their blood and sweat into preparing a fantastic day for you.</p>
    <ul class="list">
      <li>
        <strong>Michael P. Pfeiffer</strong>, Organizer, <a class="c-team__link" target="_blank" href="https://twitter.com/m_p_pfeiffer">@m_p_pfeiffer</a>
      </li>
      <li>
        <strong>Kristina Schneider</strong>, Organizer, <a class="c-team__link" target="_blank" href="https://twitter.com/kriesse">@kriesse</a>
      </li>
      <li>
        <strong>Kevin Lorenz</strong>, Organizer, Code, <a class="c-team__link" target="_blank" href="https://twitter.com/verpixelt">@verpixelt</a>
      </li>
    </ul>
    <h2 class="fz-gamma">Our big thanks and love go to:</h2>
    <ul class="list">
      <li>
        <strong>Robert Fleischmann</strong>, Code, <a class="c-team__link" target="_blank" href="https://twitter.com/_rendro">@_rendro</a>
      </li>
      <li>
        <strong>Nicolas Zimmel</strong>, Design, <a class="c-team__link" target="_blank" href="https://twitter.com/toomanyclouds">@toomanyclouds</a>
      </li>
       <li>
        <strong>Polly Hristova</strong>, Communication
      </li>
      <li>
        <strong>Lucie Höhler</strong>, Communication, <a class="c-team__link" target="_blank" href="https://twitter.com/@autofocus">@autofocus</a>
      </li>
      <li>
        <strong>Sean Fridman</strong>, Code, <a class="c-team__link" target="_blank" href="https://twitter.com/sfrdmn">@sfrdmn</a>
      </li>
      <li>
        <strong>Martin Schuhfuss</strong>, Code, <a class="c-team__link" target="_blank" href="https://twitter.com/@usefulthink">@usefulthink</a>
      </li>
      <li>
        <strong>Silke Voigts</strong>, Design, <a class="c-team__link" target="_blank" href="https://twitter.com/@silkine">@silkine</a>
      </li>
    </ul>
  </section>
</div>