

.css-family-logo {
  width: 40vw;
  max-width: 160px;
  margin-bottom: $padding-section/2;
}

.circle-yellow { fill: $color-yellow; }

.circle-red { fill: $color-red; }

.circle-blue { fill: $color-blue; }

[class^="type__letter"] { fill: $color-red; }

[class^="globe__"] { fill: $color-black; }