

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ul,
ol { margin-top: 0; }

body {
  @include bp(small) {
    padding-left: $padding-body;
    padding-right: $padding-body;
  }

  @include bp(medium) {
    padding-left: $padding-body*2;
    padding-right: $padding-body*2;
  }
}

.container {
  @extend %tac;
  max-width: 66.666666667em;
  margin: 0 auto;
}

.rw { @extend %grid--full; }

.cl {
  padding-left: 0;
  @extend %grid__item;

  // @include bp(medium) {
  //   padding-left: $padding-body*2;
  // }
}

section,
footer {
  @extend %cf;
  padding: 60px $padding-body*2;
}

.c-thank-you { @extend %bgc; }

.g-conference { @extend %tal; }

.split__text,
.split__media {
  @extend %cf;
  @extend %lap--six-twelfths;
}

.c-conference .split__text,
.c-venue .split__media { padding-left: 0; }

// generic, re-usable section classes

.g-tal { @extend %tal; }

.g-bgc { @extend %bgc; }

// special section classes

.g-speakers { @extend %tal; }

.c-speakers { @extend %bgc; }

.g-venue { @extend %tal; }

// .cssconf-family-list {}

.cssconf-family-list__item { display: inline-block; }

.cssconf-family-logo {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.c-cssfamily { @extend %bgc; }

.nav-main + .rw {
  padding-top: 4.5rem;

  @include bp(small) {
    padding-top: 4.875rem;
  }
}

.stage { position: relative; }

.stage__image { max-width: 100%; }

.stage__content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
}

.stage__headline-index {
  color: $color-black;
  margin-bottom: 12px;
  font-size: $font-size-39;
}

.g-coc { @extend %tal; }

.c-coc-long {
  @include bp(medium) {
    column-count: 2;
    column-gap: 2.777777778em;
  }
}

.column-first-heading {
  @include bp(medium) {
    column-span: all;
  }
}
