//TODO: Refactor the @extend rules!!!


html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ul,
ol { margin-top: 0; }

// apply this in order to have a gap to the left and right, as in the design
%container {
  @include bp(small) {
    padding-left: $padding-body;
    padding-right: $padding-body;
  }
  @include bp(medium) {
    padding-left: $padding-body*2;
    padding-right: $padding-body*2;
  }
}

// apply this to any containing div / section that has content which should not be wider than 66.66em
// further explanation here: http://lea.verou.me/more-css-secrets/#padding-auto
%container-content {
  padding-left: $padding-body;
  padding-right: $padding-body;
// fine-tune here as needed
//  @include bp(medium) {
//    padding-left: calc(50% - 21em);
//    padding-right: calc(50% - 21em);
//  }
  @include bp(large) {
    padding-left: calc(50% - 33.333em);
    padding-right: calc(50% - 33.333em);
  }
}

.rw {
  @extend %grid--full;
  @extend %container;
}

.cl {
  padding-left: 0;
  @extend %grid__item;
}

section,
footer {
  @extend %cf;
  padding: $padding-section $padding-body*2;
}

section {
  @include bp(medium) {
    padding-top: $padding-section * 2;
    padding-bottom: $padding-section * 2;
  }
}

// this is for sections that should not be visually separated as far from the following one,
// e.g. sponsors and media partners.
// alternatively: don't have separate sections at all.
.section--tight {
  padding-bottom: 0;
  @include bp(medium) {
    padding-bottom: 0;
  }
}


.split__text,
.split__media {
  @extend %cf;
  @extend %lap--six-twelfths;
  margin-bottom: $margin-base*2;

  @include bp(medium) {
    margin-bottom: 0;
  }
}

.c-conference .split__text,
.c-venue .split__media { padding-left: 0; }


.cssconf-family-list__item {
  margin-right: .625rem;
  display: inline-block;

  &:last-child { margin-right: 0; }
}

.cssconf-family-logo {
  display: inline-block;
  margin-bottom: 2.5rem;
}

// add to sections to add beige background
.c-speakers,
.c-thank-you,
.c-cssfamily {
  @extend %bgc;
}

// add to sections to center-align content
.c-cssfamily,
.g-thank-you,
.g-sponsors-reel {
  @extend %tac;
}

// Collect all sections that should have a max-width
// c-max-width is the generic non-semantic class
.c-coc,
.c-accessibility,
.c-schedule,
.c-sponsors,
.c-blog,
.c-info,
.c-thank-you,
.c-venue,
.c-speakers,
.c-conference,
.c-diversity,
.c-max-width {
  @extend %container-content;
}

