

.sold-out {
  color: $color-blue;
  background-color: #CADDFD;
  padding: $padding-body 3.125rem $padding-body $padding-body;
  margin-bottom: 1em;
  font-size: $font-size-16;
  width: 100%;
  position: relative;
}
