
.speakers__slider {
  margin-top: 5rem;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.speakers__slider-element {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 1.25rem;
  transform: translate3d(0,0,0);

  .speakers__item {
    flex: 0 0 280px;
    text-align: center;
  }
}

.speakers__item {
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

//TODO: Build mixin out ouf it
//TODO: Eventually replace with figure instead of div
.image--has-border {
  position: relative;
  margin: 0 auto;
  width: 12.5rem;
  height: 12.5rem;
  display: block;
  margin-bottom: 4rem; //TODO: Remove — just for demo purposes

  > img { //TODO: GET RID OF THE ELEMENT STYLING
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 2;
  }

  &:before,
  &:after {
    transition: all .3s ease-in-out; //TODO: Make this only available on larger viewports
    width: inherit;
    height: inherit;
    content: '';
    position: absolute;
    z-index: 1;
    border: 3px solid $color-black;
  }

  &:before {
    top: -1rem;
    left: -1rem;
  }

  &:after {
    top: 1rem;
    left: 1rem;
  }

  &:hover {

    &:before {
      top: -1.25rem;
      left: -1.25rem;
    }

    &:after {
      top: 1.25rem;
      left: 1.25rem;
    }
  }
}
