

.c-schedule {
  background: linear-gradient(to right, rgba(252, 199, 32, .2) 0%, rgba(252, 199, 32, .2) .5%, transparent .5%, transparent 20%, rgba(252, 199, 32, .2) 20%,rgba(252, 199, 32, .2) 20.5%, transparent 20.5%,transparent 40%, rgba(252, 199, 32, .2) 40%, rgba(252, 199, 32, .2) 40.5%, transparent 40.5%, transparent 60%, rgba(252, 199, 32, .2) 60%, rgba(252, 199, 32, .2) 60.5%, transparent 60.5%, transparent 80.1%, rgba(252, 199, 32, .2) 80%, rgba(252, 199, 32, .2) 80.5%, transparent 80.5%, transparent 99.5%, rgba(252, 199, 32, .2) 99.7%, rgba(252, 199, 32, .2) 100% );
}

.list--schedule { @extend %nav; }

.list--schedule__img { display: none;

  @include bp(small) {
    display: block;
    width: 30vw;
  }

  @include bp(medium) {
    width: 15vw;
    float: left;
    margin-right: $margin-base;
  }
  @include bp(xlarge) { width: 12.5rem; }
}

.list--schedule__time {
  margin-bottom: 0;
  color: $color-red;
  font-size: 1.8em;

  @include bp(small) { font-size: 2.8em; }

  @include bp(medium) {
    font-size: 2em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.list--schedule__el--has-image .list--schedule__time {
  @include bp(medium) { top: calc(7.5vw - 1.5625rem); }

  @include bp(xlarge) { top: 4.6875rem; }
}

.list--schedule__el--has-image::before {
  @include bp(medium) { top: 7.5vw !important; }
  @include bp(xlarge) { top: 6.25rem !important; }
}


.list--schedule__text { margin-bottom: 0;

  @include bp(medium) {
    width: calc(864px - 15vw - 300px - #{$margin-base});
    float: left;
  }

  @include bp(xlarge) { width: calc(67.5rem - 31.25rem - #{$margin-base}); }
}

.list--schedule h2,
.list--schedule p { margin-bottom: 0; }

.list--schedule p {

  @include bp(small) { font-size: 1.2em; }

  @include bp(medium) { font-size: 1.4em; }
}

.list--schedule__el {
  margin-bottom: $margin-base;
  clear: both;
  @extend %cf;
  position: relative;
  z-index: 1;

  @include bp(medium) {
    padding-left: 18.75rem;
    margin-bottom: 3 * $margin-base;
  }

  &::before {
    content: '';
    width: 100vw;
    left: -.75rem;
    height: 1.25rem;
    background-color: #f5f2e6;
    display: block;
    position: absolute;
    z-index: -1;
    top: 1.125rem;

    @include bp(small) {
      top: 40px;
      left: -1.5rem;
    }

    @include bp(medium) {
      left: -2.25rem;
      top: 1.5rem;
    }

    @include bp(large) { left: calc(-50vw + 24em); }

    @include bp(xlarge) { left: calc(-50vw + 30em); }
  }
}
