

.nav-main {
  @extend %container-nav;
  font-size: .85em;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: .9375rem;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: $color-white;
  z-index: 201;

  @include bp(xsmall) { font-size: 1em; }

  @include bp(xlarge) { margin-left: 0; }
}

.nav-main__list {
  @extend %nav;
  margin-bottom: 0;
  display: none;

  @include bp(large) { display: block; }
}

.nav-main__list[data-state=open] {
  position: absolute;
  height: calc(100vh - 4.1875rem);
  width: 100vw;
  top: 4.1875rem;
  left: 0;
  background-color: $color-white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 66.666666667em;

  @include bp(xsmall) {
    top: 4.5625rem;
    height: calc(100vh - 4.5625rem);
  }
}

.nav-main__list[data-state=open] .nav-main__list-item {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.nav-main__list[data-state=open] .nav-main__link { font-size: 10vmin;}

.nav-main__list[data-state=open] .nav-main__link--is-active { font-weight: bold; }

.nav-main__headline-one,
.nav-main__headline-two {
  color: $color-black;
  margin-bottom: 0;
}

.nav-main__headline-one { font-size: $font-size-22; }

.nav-main__headline-two {
  font-family: nunitolight, sans-serif;
  font-size: $font-size-16;
}

.nav-main__link-home { float: left; }

.nav-main__list-item {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  margin-left: 3vw;
  text-align: center;
  margin-bottom: 2rem;

  @include bp(medium) { margin-bottom: 2rem; }

  @include bp(large) { margin-bottom: 0; }

  &:first-of-type { margin-left: 0; }

  &:first-of-type .nav-main__link-decoration {
    @include bp(large) { margin-left: -1.25rem; }
  }

  &:nth-of-type(4) .nav-main__link-decoration {

    @include bp(large) { margin-left: -.9rem; }
  }
}

.nav-main__link {
  color: $color-black;
  @extend %uppercase;
  word-break: break-word;
  line-height: 1;
}

.nav-toggle {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1.5625rem;
  width: 2.5rem;

  &:before {
    background-color: $color-blue;
    top: 0;
  }

  &:after {
    background-color: $color-black;
    bottom: 0;
  }

  @include bp(large) { display: none; }
}

.nav-toggle:before,
.nav-toggle:after {
  content: '';
  width: inherit;
  height: .625rem;
  position: absolute;
  right: 0;
}

.nav-main .btn--special { display: none;

  @include bp(large) { display: block; }
}

.nav-main + .rw { padding-top: 4.5rem;

  @include bp(small) { padding-top: 4.875rem; }
}

.nav-main__link-decoration { display: none; }

.nav-main__link + .nav-main__link-decoration {
  display: block;
  position: absolute;
  width: 5.5rem;
  height: .75rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  fill: $color-blue;
  transform: scale(1.4);

  @include bp(medium) { transform: scale(2); }

  @include bp(large) { transform: scale(1); }
}

