

.stage {
  position: relative;
  min-height: 16rem;
  @extend %tac;

  @extend %container;
}

.stage__image {
  width: 100%;
  max-width: 100%;
}

.stage__content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
}

.stage__content--subpage {
  bottom: auto;
  top: 38%;
}

.stage__headline-index {
  color: $color-black;
  margin-bottom: 12px;
  font-size: $font-size-39;
}

.stage__img {
  width: 100%;
  max-width: 100%;
}