.speakers__overlay {
  display: none;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: $color-red;
  z-index: 2;
  opacity: .9;
  mix-blend-mode: multiply;

  .mix-blend-mode & {
    display: block;
  }

}

.image--has-border:hover .speakers__overlay { opacity: 0; }