

.nav-sub {
  padding-top: $padding-section/2;
  padding-bottom: $padding-section/2;
  line-height: 1.666666667;
  @extend %container-nav;
  @extend %tac;

  @include bp(medium) {
    font-size: .98em;
  }

  @include bp(medium) {
    padding-top: $padding-section;
    padding-bottom: $padding-section;
  }
}

.nav-sub__list {
  @extend %nav;
  margin-bottom: 0;

  @include bp(large) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nav-sub__list-item {

@include bp(large) { padding-right: 1.5%;

  &:last-child { padding-right: 0; }
  }
}