
.arrow { @extend %tac; }

.arrow__svg {
  width: 15vw;
  max-width: 5rem;
}

.arrow--is-blue { fill: $color-blue; }

.arrow--is-black { fill: $color-black; }

.arrow__link { display: inline-block; }

.is-transformed { transform: rotate(180deg); }