.speakers__overlay {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: $color-red;
  z-index: 2;
  opacity: .9;
  mix-blend-mode: multiply;
}

@-moz-document url-prefix() {
  .speakers__overlay {
    z-index: 0;
  }
}

.image--has-border:hover .speakers__overlay { opacity: 0; }