

$offset: -2.25rem;

.image--has-single-border {
  width: 100%;
  height: auto;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;

  @include bp(small) { max-width: 400px; }

  @include bp(medium) { margin-left: $offset; }

  @include bp(xlarge) { max-width: 500px; }

  &:after {
    position: absolute;
    content: '';
    width: inherit;
    height: 1rem;
    left: $offset;
    bottom: 0rem;
    background-color: $color-blue;
    max-width: inherit;
  }
}

.image--is-positioned-right {

  @include bp(medium) {
    margin-right: $offset;
    float: right;
  }

  &:after {
    right: $offset;
    left: auto;
  }
}

.image-single-border {
  width: inherit;
  height: inherit;
  max-width: inherit;
  display: block;
}

.c-venue__link { width: inherit; }

.image--has-geo-element:before {
  content: '';
  position: absolute;
  width: 6.25rem;
  height: 12.5rem;
  background-color: $color-yellow;
  transform: rotate(-21deg);
  right: -5.625rem;
  top: .625rem;

  @include bp(xsmall) {
    right: -5rem;
    top: .9375rem;
  }

  @include bp(small) { top: 1.25rem; }

  @include bp(medium) { top: 1.5625rem; }

  @include bp(large) {
    right: -4.9375rem;
    top: .9375rem;
  }

  @include bp(xlarge) {
    right: -3.8125rem;
    top: 1.25rem;
  }
}