

$offset: -2.25rem;

.image--has-single-border {
  width: 100%;
  height: auto;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: content-box;
  margin-bottom: 1.625rem;
  margin-left: auto;
  margin-right: auto;

  @include bp(small) { max-width: 400px; }

  @include bp(medium) { margin-left: $offset; }

  &:after {
    position: absolute;
    content: '';
    width: inherit;
    height: 1rem;
    left: $offset;
    bottom: 0rem;
    background-color: $color-blue;
    max-width: inherit;
  }
}

.image--is-positioned-right {

  @include bp(medium) {
    margin-right: $offset;
    float: right;
  }

  &:after {
    right: $offset;
    left: auto;
  }
}

.image-single-border {
  width: inherit;
  height: inherit;
  max-width: inherit;
  display: block;
}
