

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2.5rem;
}

.sponsors__logo {
  max-width: 14rem;
  width: 14rem;
  margin: 0 auto 3.5rem auto;

  @include bp(large) { max-width: 18rem; }
}

// this is to downsize logos a bit that are visually bigger than the others
.sponsors__logo--size-1 {
  padding-left: .5rem;
  padding-right: .5rem;
}

// this is to downsize logos a bit more
.sponsors__logo--size-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sponsors__img {
  width: 90%;
  @include bp(small) { max-width: 80%; }
  @include bp(large) { max-width: 75%; }

}

.sponsors__headline {
  width: 100%;
  margin-bottom: 2.5 * $margin-base;
}

.sponsors__link { display: block;

  &:hover .sponsors__img { opacity: .7; }
}
