

.speaker-info,
.talk-info {
  width: 100%;
  margin-right: -4px;

  @include bp(medium) { width: 50%; }
}

.speaker-info {
  text-align: left;
  position: relative;
  top: -11rem;
  margin-bottom: -11rem;

  @include bp(small) {
    top: 0;
    margin-bottom: 0;
  }

  @include bp(medium) {
    top: -8rem;
    margin-bottom: -8rem;
  }

  @include bp(xlarge) {
    top: -13rem;
    margin-bottom: -13rem;
  }
}

.speaker-info__image {
  width: 15rem;
  height: 15rem;

  @include bp(xsmall) {
    width: 17rem;
    height: 17rem;
  }

  @include bp(xlarge) {
    width: 22rem;
    height: 22rem;
  }
}

.speaker__linklist {
  list-style: none;
  padding-left: 0;
}


.talk-info { @include bp('medium') { padding-left: 5%; } }

.talk-info__title { color: $color-red; }

.speaker__image-overlay {
  display: none;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: $color-red;
  z-index: 2;
  opacity: .9;
  mix-blend-mode: multiply;

  .mix-blend-mode & { display: block; }
}

.image--has-border:hover .speaker__image-overlay { opacity: 0; }
