$icon-large: 7em;

.video {
  position: relative;
  top: 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
  }
}

.video__rw {
  max-height: none;
}

.video__rw.stage {
  overflow: inherit;
}

.video__rw::before {
  content: " ";
  background-color: $color-yellow;
  width: 50%;
  height: 1.5em;
  position: absolute;
  top: 100%;
  left: 40%;
}

.mix-blend-mode .video__preview-overlay {
  display: block;
}

.video__preview-overlay {
  @extend %container-gutter;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  background: radial-gradient(ellipse at top center, #999 0%, #000 50%, #222 100%);
  z-index: 1;
  opacity: 0.5;
}

.video:hover .video__preview-overlay {
  opacity: 0.4;
}

.video__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 7em;
  text-align: center;
  z-index: 2;
  color: $color-white;

  @include bp(large) {
    top: 12em;
  }
}

.video__description::before {
  content: " ";
  display: block;
  background-image: url(img/video-icon.svg);
  background-size: $icon-large $icon-large;
  width: $icon-large;
  height: $icon-large;
  position: relative;
  margin: 0 auto $margin-base auto;
}


.video__description h2 {
  color: $color-yellow;
}

.video--thanks {
  @extend %one-half;
  display: inline-block;
}
