

.stage {
  position: relative;
  max-height: 15rem;
  overflow: hidden;

  @extend %tac;
  @extend %container;

  @include bp(small) {
    min-height: 16rem;
    max-height: none;
  }
}

.stage--home {
  max-height: none;
}

.stage__image {
  width: 100%;
  max-width: 100%;
}

.stage__content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 18%;

  @include bp(small) { bottom: 15%; }

  @include bp(xlarge) { bottom: 22%; }
}

.stage__content--subpage {
  bottom: auto;
  top: 44%;
  @include bp(small) { top: 42%; }
}

.stage__headline-index {
  color: $color-black;
  margin-bottom: 12px;
  font-size: $font-size-39;
}

.stage__img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.stage--thanks {
  .stage__content {
    left: $padding-body;
    right: $padding-body;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;

    @include bp(small) {
      width: 75%;
    }

    @include bp(medium) {
      width: 50%;
    }

    @include bp(large) {
      width: 40%;
    }
  }

  @include bp(xsmall) {
    margin-bottom: 1.5em;
  }
}
