

.image--has-single-border {
  width: 100%;
  height: auto;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: content-box;
  margin-left: -$padding-body*2;
  margin-bottom: 1.625rem;

  margin-left: auto;
  float: left;

  @include bp(small) { max-width: 400px; }

  @include bp(medium) { margin-left: -$padding-body*4; }

  &:after {
    position: absolute;
    content: '';
    width: inherit;
    height: 1rem;
    left: -$padding-body*3;
    bottom: .8rem;
    background-color: $color-blue;
    max-width: inherit;
    mix-blend-mode: multiply;

    @include bp(small) { left: -$padding-body*4; }
  }
}

//Left is default -> helper class
.image--is-positioned-right {
  float: right;
  margin-right: auto;
  margin-left: auto;

  @include bp(medium) { margin-right: -$padding-body*4; }

  &:after {
    right: -$padding-body*3;
    left: auto;
  }
}

.image-single-border {
  width: inherit;
  height: inherit;
  max-width: inherit;
}
