
// slider styles
// .speakers__slider {
//   margin-top: 5rem;
//   overflow: hidden;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .speakers__slider-element {
//   display: flex;
//   flex-wrap: nowrap;
//   padding-top: 1.25rem;
//   transform: translate3d(0,0,0);

//   .speakers__item {
//     flex: 0 0 280px;
//     text-align: center;
//   }
// }
// end slider styles


.speakers__item {
  @extend %tac;
  @extend %six-twelfths;
  margin-top: 5rem;
  margin-right: -4px;

  // Todo: Can not extend classes with media queries, so we need to manually overwrite the column style on mobile
  @media only screen and (max-width: 34.375em) {
    width: 100%;
    margin-right: 0;
  }

  .speakers__paragraph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--small {
    @extend %one-quarter;
    margin-top: 2.5rem;
    padding: 0 5%;

    @include bp(medium) {
      padding: 0 2.5%;
    }
  }
}

//TODO: Build mixin out ouf it
//TODO: Eventually replace with figure instead of div
.image--has-border {
  position: relative;
  margin: 0 auto;
  width: 12.5rem;
  height: 12.5rem;
  display: block;
  margin-bottom: 3rem;

  @include bp(medium) {
    width: 16rem;
    height: 16rem;
  }

  @include bp(large) {
    width: 20rem;
    height: 20rem;
  }

  > img { //TODO: GET RID OF THE ELEMENT STYLING
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 2;
  }

  &:before,
  &:after {
    transition: all .3s ease-in-out; //TODO: Make this only available on larger viewports
    width: inherit;
    height: inherit;
    content: '';
    position: absolute;
    z-index: 1;
    border: 3px solid $color-black;
  }

  &:before {
    top: -1rem;
    left: -1rem;
  }

  &:after {
    top: 1rem;
    left: 1rem;
  }

  &:hover {

    &:before {
      top: -1.25rem;
      left: -1.25rem;
    }

    &:after {
      top: 1.25rem;
      left: 1.25rem;
    }
  }
}
