
.arrow { @extend %tac; }

.arrow__svg {
  display: block;
  width: 15vw;
  max-width: 5rem;
  margin-bottom: -.4375rem;
}

.arrow--is-blue { fill: $color-blue; }

.arrow--is-black { fill: $color-black; }

.arrow__link { display: inline-block;

  &:hover .arrow--is-black { fill: lighten($color-black, 10%); }

  &:hover .arrow--is-blue { fill: lighten($color-blue, 10%); }
}

.is-transformed { transform: rotate(180deg); }