

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2.5rem;
}

.sponsors__logo {
  max-width: 12.5rem;
  width: 12.5rem;
  margin: 0 auto 2rem auto;

  @include bp(large) { max-width: 18rem; }
}

.sponsors__img { width: 90%; }

.sponsors__headline {
  width: 100%;
  margin-bottom: 2.5 * $margin-base;
}

.sponsors__link { display: block;

  &:hover .sponsors__img { opacity: .7; }
}
