.nav-sub {
  padding-top: $padding-section/2;
  padding-bottom: $padding-section/2;
  line-height: 1.666666667;
}

.nav-sub__list {
  @extend %nav;
  margin-bottom: 0;

  @include bp(medium) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nav-sub__list-item {

@include bp(medium) { padding-right: 2%;

  &:last-child { padding-right: 0; }
  }
}