
$color-blue: #2176ff;
$color-red: #ea3939;
$color-black: #212121;
$color-grey: #c4c4c4;
$color-yellow: #fcc720;
$color-white: #fff;
$color-beige: #f5f2e6;

$font-size-base: 1.125em; //18px
$font-size-14: .777777778em;
$font-size-16: .888888889em;
$font-size-22: 1.222222222em;
$font-size-24: 1.333333333em;
$font-size-30: 1.666666667em;
$font-size-34: 1.888888889em;
$font-size-39: 2.166666667em;
$font-size-44: 2.444444444em;
$font-size-56: 3.111111111em;
$font-size-64: 3.555555556em;

$line-height-base: 1.444444444;

$margin-base: 1.625rem;

$padding-body: .75rem;

$padding-section: 3.75rem;

// Transition and Animation Variables

$transition-duration: .25s;

// GRID VARIABLES
$use-silent-classes: true;
$push: true;
$pull: true;

$breakpoints: (
  'palm' '(min-width: 34.375em)',
  'lap' '(min-width: 50em)',
  'portable' '(max-width: 1023px)',
  'desk' '(min-width: 1024px)'
);

