

@import 'normalize';
@import 'variables';
@import 'breakpoints';
@import 'helpers';
@import 'grid';
@import 'general';
@import 'type';
@import 'module-button';
@import 'module-image-border';
@import 'module-image-single-border';
@import 'module-bg-zebra';
@import 'module-social-bar';
@import 'module-geometric-elements';
@import 'module-nav-sub';
@import 'module-arrow';
@import 'module-nav-main';
@import 'module-stage';
@import 'module-sponsors';
@import 'module-speakers-grid';
@import 'c-organizers';
@import 'c-team';
@import 'css-family-logo';
@import 'module-speaker';
@import 'module-sold-out';
@import 'module-cross';
@import 'module-countdown';
@import '_module-schedule';
@import 'module-thanks';
@import 'module-video';


.row-simple {
  display: flex;
  flex-direction: column;

  @include bp(medium) { flex-direction: row; }
}

.row-simple__el {
  flex: 1 1 100%;
  margin: 0;

  @include bp(medium) { flex: 1 1 33.333%; }
}

.row-simple__img {
  width: 100%;

  @include bp(small) { max-width: 80%; }

  @include bp(medium) { max-width: 100%; }
}

.img-row--clear { margin: 0; }
