

@import 'normalize';
@import 'variables';
@import 'breakpoints';
@import 'helpers';
@import 'grid';
@import 'general';
@import 'type';
@import 'module-button';
@import 'module-image-border';
@import 'module-image-single-border';
@import 'module-bg-zebra';
@import 'module-social-bar';
@import 'module-geometric-elements';
@import 'module-nav-sub';
@import 'module-arrow';
@import 'module-nav-main';
@import 'module-stage';
@import 'module-sponsors';
@import 'module-speakers-grid';
@import 'c-organizers';
@import 'c-thanks';
@import 'c-team';
@import 'css-family-logo';
@import 'module-speaker';
@import 'module-sold-out';
@import 'module-cross';
@import 'module-countdown';
@import 'module-schedule';
@import 'module-video';


.row-simple {
  display: flex;
  flex-direction: column;

  @include bp(medium) { flex-direction: row; }
}

.row-simple__el {
  flex: 1 1 100%;
  margin: 0;

  @include bp(medium) { flex: 1 1 33.333%; }
}

.row-simple__img {
  width: 100%;

  @include bp(small) { max-width: 80%; }

  @include bp(medium) { max-width: 100%; }
}

.img-row--clear { margin: 0; }




// video grid on post-conf thank you page

// make sure images don't exceed their containers dimensions
.video__poster {
  max-width: 100%;
  display: block;
}

// this is a container around the `.video`-element itself.
// Positioning of the videos is done using the padding of these containers
// They will be rendered in groups of four.
.thanks {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.thanks__video .video:before {
  // before-elements are used to add some colorful backgrounds
  @include bp(large) {
    position: absolute;
    content: '';
    z-index: -1;
    top: -1em;
    left: -1em;
    width: 90%;
    height: 40%;
  }
}

// SET TRANSFORMS AND BACKGROUND-COLORS ACROSS THE VIDEO ELEMENTS
.thanks__video:nth-child(4n) {
  @include bp(large) { transform: translate(2em, 1em);
  .video::before { background-color: $color-yellow; }
  }
}

.thanks__video:nth-child(4n+1) {
  @include bp(large) { transform: translate(-1em, -3em);
    .video::before { background-color: $color-red; }
  }
}

.thanks__video:nth-child(4n+2) {
  @include bp(large) {
    .video::before { background-color: $color-blue; }
  }
}

.thanks__video:nth-child(4n+3) {
  @include bp(large) { transform: translate(1em, -2em);
    .video::before { background-color: $color-beige; }
  }
}

//SET POSITIONS AND SIZES FOR GEOMETRICAL BACKGROUND ELEMENTS

.thanks__video:nth-child(5n) {
  @include bp(large) {
    .video::before {
      height: 90%;
      width: 100%;
      top: 16%;
      left: 7%;
    }
  }
}


// LEA VEROU + MICHAEL MIFSUD
.thanks__video:nth-child(5n+1) {
  @include bp(large) {
    .video::before {
      top: -5%;
      left: -5%;
      width: 90%;
      height: 40%;
    }
  }
}

.thanks__video:nth-child(5n+2) {
  @include bp(large) {
    .video::before {
      height: 100%;
      top: 5%;
      left: 5%;
    }
  }
}

// GLEN MADDERN + TIM HOLMAN
.thanks__video:nth-child(5n+3) {
  @include bp(large) {
    .video::before {
      height: 100%;
      width: 100%;
      top: 5%;
      left: -5%;
    }
  }
}

.thanks__video:nth-child(5n+4) {
  @include bp(large) {
    .video::before {
      height: 30%;
      width: 100%;
      top: 75%;
      left: -4%;
    }
  }
}


.thanks__video {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 1.5em 1em; // sensible base-value

  @include bp(small) { width: 50%; }
  @include bp(large) {
    width: 1/3 * 100%;
    padding: 3em 2.25em; // sensible base-value
  }
}


.thanks__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  min-width: 280px;
  height: 7em;
  padding: 3em 1em;
  background-color: $color-blue;
  a {
    font-size: 1em;
    color: $color-white;
    &:hover, &:focus {
      color: $color-white;
      border-bottom: .2em solid yellow;
    } 
  }
  @include bp(medium) {
    height: 9em;
    a {
      font-size: 2em;
    }
  }
}
