

@import 'normalize';
@import 'variables';
@import 'breakpoints';
@import 'helpers';
@import 'grid';
@import 'general';
@import 'type';
@import 'module-button';
@import 'module-image-border';
@import 'module-image-single-border';
@import 'module-bg-zebra';
@import 'module-social-bar';
@import 'module-geometric-elements';
@import 'module-nav-sub';
@import 'module-arrow';
@import 'module-nav-main';
@import 'module-stage';
@import 'module-sponsors';
@import 'module-speakers-grid';
@import 'c-organizers';
@import 'c-team';
@import 'css-family-logo';
@import 'module-speaker';
@import 'module-sold-out';
@import 'module-cross';
@import 'module-countdown';
@import 'module-schedule';
@import 'module-video';


.row-simple {
  display: flex;
  flex-direction: column;

  @include bp(medium) { flex-direction: row; }
}

.row-simple__el {
  flex: 1 1 100%;
  margin: 0;

  @include bp(medium) { flex: 1 1 33.333%; }
}

.row-simple__img {
  width: 100%;

  @include bp(small) { max-width: 80%; }

  @include bp(medium) { max-width: 100%; }
}

.img-row--clear { margin: 0; }





// shame.scss - get this into proper locations later. Or never.
// It's not like anybody would care anymore.


// make sure images don't exceed their containers dimensions
.video__poster { max-width: 100%; }

// this is a container around the `.video`-element itself.
// Positioning of the videos is done using the padding of these containers
// They will be rendered in groups of four.
.thanks {
  text-align: center;
}

.thanks__video {
  position: relative;

  width: 100%;

  @include bp(small) { width: 50%; }
  @include bp(xlarge) { width: 1/3 * 100%; }

  display: inline-block;
  vertical-align: middle;

  padding: 1.5em 0.75em; // sensible base-value

  // the first in the group is rendered in full width
  //&:nth-child(3n) { padding: 3em 2em; }
  //&:nth-child(3n + 1) { padding: 3em 5em; }
  //&:nth-child(3n + 2) { padding: 3em 4em; }
  //&:nth-child(4n) { padding-left: 7em; padding-right: 1em; }
  //
  //&:nth-child(5n) { top: 2em; }
  //&:nth-child(5n + 3) { left: 2em; }

}
