---
title: Accessibility Statement
---

{{!-- INCLUDE NAV-MAIN --}}
{{> navmain }}

{{!-- SECTION --}}
<div class="rw g-gridclassname"> {{!-- REPLACE THIS CLASSNAME WITH A CONTENT SPECIFIC ONE --}}
  <section class="c-accessibility"> {{!-- REPLACE THIS CLASSNAME WITH A CONTENT SPECIFIC ONE --}}
    <h1>{{title}}</h1>
    <div class="two-columns two-columns--has-margin">
      <p>Reject.JS, JSConf EU and CSSconf EU are inclusive conferences and want to be accessible.</p>
      <p>We make sure that all official events related to these conferences are well accessible to people with physical disabilities, by both checking with the venue owner and by visiting them personally beforehand. However, we are aware that accessibility issues are diverse and this does not cover everything.</p>
      <p>If you are interested in our conferences, but have any kind of accessibility problem that needs to be resolved before you can attend, please get in <a href="mailto:contact@cssconf.eu">contact</a>. We will reserve you a ticket until we found out whether your issue can be resolved. This includes setting up special assistance offers.</p>
      <p>If you are in need of an assistant, they will not be required to buy a ticket.</p>
      <p>We would love to welcome you to our conferences!</p>
    </div>
  </section>
</div>
{{!-- SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
