---
title: Blog
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"/assets/img/stage-coc-2400.png", "medium":"/assets/img/stage-coc-1200.png", "small":"/assets/img/stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>{{title}}</h1>
  </div>
</div>

<div class="rw g-blog">
  <section class="c-blog">
    {{md 'content/blog-post.md'}}
  </section>
</div>

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOVIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
