---
title: Code of Conduct
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-coc-2400.png", "medium":"stage-coc-1200.png", "small":"stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- COC INTRODUCTION SECTION --}}
<div class="rw g-coc">
  <section class="c-coc">
    <div class="cl split__text">
      <h1>{{title}}</h1>
      <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>
      <p><strong>tl;dr: Be excellent with each other</strong></p>
    </div><!--
 --><div class="cl split__media">
      <div class="image--has-single-border image--is-positioned-right margin-special">
        <img class="image-single-border" src="/assets/{{version '_'}}/img/coc-image1.jpg" alt="">
      </div>
    </div>
    <h2 class="fz-gamma">Need Help? Contact Us</h2>
    <ul class="list-simple">
      <li>Kristina Schneider: <a href="https://twitter.com/kriesse">@kriesse</a> | <a href="mailto:kristina@cssconf.eu">kristina@cssconf.eu</a></li>
      <li>Michael P. Pfeiffer: <a href="https://twitter.com/m_p_pfeiffer">@m_p_pfeiffer</a> | <a href="mailto:michael@cssconf.eu">michael@cssconf.eu</a></li>
      <li>Kevin Lorenz: <a href="https://twitter.com/verpixelt">@verpixelt</a> | <a href="mailto:kevin@cssconf.eu">kevin@cssconf.eu</a></li>
    </ul>
  </section>
</div>
{{!-- COC INTRODUCTION SECTION END --}}

{{!-- COC SHORT VERSION SECTION --}}
<div class="rw g-coc">
  <section class="c-coc-short">
    <div class="cl split__media">
      <div class="image--has-single-border">
        <img class="image-single-border" src="/assets/{{version '_'}}/img/coc-image2.png" alt="">
      </div>
    </div><!--
    --><div class="cl split__text">
      <h1 class="fz-beta">The Quick Version</h1>
      <p>CSSconf EU is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>
    </div>
  </section>
</div>
{{!-- COC SHORT VERSION SECTION END --}}

{{!-- COC LONG VERSION SECTION --}}
<div class="rw g-coc">
  <section class="c-coc-long">
    <h1>The Less Quick Version</h1>
    <div class="two-columns two-columns--has-margin">
      <p>Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

      <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

      <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>

      <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Details on how to contact and identify conference staff will be provided soon.</p>

      <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

      <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
    </div>

    <p><small><em>Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>

    Please help by translating or improving: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>

    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a></em></small>
    </p>
  </section>
</div>
{{!-- COC LONG VERSION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}


