---
title: Diversity Support Tickets
---

{{> navmain }}


<!-- SECTION -->
<div class="rw g-diversity">
  <section class="c-diversity">
    <h1>{{title}}</h1>

    <p>CSSconf EU strives to create a genuinely welcoming, safe and inspiring event for the CSS community. This year we’ll offer Diversity Support Tickets to allow an even more diverse audience to participate in the conference.</p>

    <p>
      <a href="https://ti.to/cssconfeu/cssconf-eu-2015/" class="stage-btn btn--special"><span class="btn__span" data-hover="Buy Ticket">Buy Ticket</span></a>
    </p>

    <h2 class="fz-gamma">How do Diversity Support Tickets work?</h2>

    <p>You purchase a ticket for yourself, and enable another person of the conference’s choosing to attend the event by paying a share towards their ticket. The support options range from paying 25%, 50% to 100% towards a full ticket. We thank you in advance for your generosity and awesomeness and look forward to a more diverse CSSconf EU than ever before.</p>

    <h2 class="fz-gamma">Why Diversity Support Tickets?</h2>

    <p>Only a diverse community is a healthy community, and we welcome and encourage participation by everyone. Our diversity ticket program is one attempt to increase the number of participants that would love to attend but don‘t have the financial means or the employer to pay for a ticket.</p>

    <h2 class="fz-gamma">Who will receive the sponsored tickets? Can I apply?</h2>

    <p>In a few weeks, we will open applications for Diversity Tickets. We do outreach with organizations that represent marginalised groups in tech to reach the right audience. We’ll have a lottery for the available spots, with priority based on a combination of need and impact. The number of spots is determined by Diversity Support Ticket sales.</p>

    <h2 class="fz-gamma">What else are you doing to increase diversity?</h2>

    <p>We operate under a <a href="/code-of-conduct.html">Code of Conduct</a> that we enforce. We educate ourselves and our team about how to put on a safe and inclusive event. We budget for safety, accessibility and diversity, and the Diversity Support Tickets are one attempt to help us improve. We are constantly learning, strive to do better and plan to be as transparent about our process as possible. Watch our website for blog posts as the conference planning comes along.</p>

    <h2 class="fz-gamma">Can I contribute or sponsor in other ways?</h2>

    <p>Help from sponsors is greatly needed – if you are interested in supporting CSSconf EU to become more accessible and inclusive, you can <a href="/sponsors.html">read more here</a>, or reach out directly via <a href="mailto:contact@cssconf.eu">e-mail</a>.</p>

  </section>
</div>
<!-- THANK YOU SECTION END -->

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
