---
title: Diversity Support Tickets
---

{{> navmain }}


<!-- SECTION -->
<div class="rw g-diversity">
  <section class="c-diversity">
    <h1>{{title}}</h1>

    <p>CSSconf EU strives to create a genuinely welcoming, safe, and inspiring event for the CSS community. This year we’re offering Diversity Support Tickets to allow an even more diverse audience to participate in the conference.</p>

    <p>
      <a href="https://ti.to/cssconfeu/cssconf-eu-2015/" class="stage-btn btn--special"><span class="btn__span" data-hover="Buy Ticket">Buy Ticket</span></a>
    </p>

    <h2 class="fz-gamma">How do Diversity Support Tickets work?</h2>

    <p>You purchase a ticket for yourself, and enable another person of the conference’s choosing to attend the event by paying a share towards their ticket. The support options range from contributing 25%, 50% and up to 100% towards a full ticket. We thank you in advance for your generosity and awesomeness and look forward to a more inclusive CSSconf EU than ever before.</p>

    <h2 class="fz-gamma">Why Diversity Support Tickets?</h2>

    <p>We believe that only a diverse community is a healthy community, and we welcome and encourage participation by everyone. The Diversity Support Tickets initiative is one attempt to increase the number of participants that would love to attend but are financially or otherwise unable to do so.</p>

    <h2 class="fz-gamma">Who will receive the sponsored tickets? Can I apply?</h2>

    <p>In a few weeks, we will make the applications for the tickets, plus any further information for applicants, available <a href="http://2015.cssconf.eu/scholarships/">here</a>. We do outreach with organizations that represent disadvantaged groups in tech to reach the right audience. In the case there are more qualified applicants than there are ticket, we’ll have a lottery for the available spots, with priority given based on a combination of need and impact. The number of spots is determined by Diversity Support Ticket sales and dedicated diversity contributions made by our sponsors.</p>

    <h2 class="fz-gamma">What else are you doing to increase diversity?</h2>

    <p>We operate under a <a href="/code-of-conduct/">Code of Conduct</a> that we enforce. We educate ourselves and our team about how to put on a safe and inclusive event. We budget for safety, accessibility and diversity, and the Diversity Support Tickets are one attempt at improving in this area. We are constantly learning, striving to do better, and we plan so as to be as transparent about our process as possible. Watch our website for blog posts as the conference planning comes along.</p>

    <h2 class="fz-gamma">Can I contribute or sponsor in other ways?</h2>

    <p>Help from sponsors is greatly needed – if you are interested in supporting CSSconf EU to become more accessible and inclusive, you can <a href="/sponsors/">read more here</a>, or reach out directly via <a href="mailto:contact@cssconf.eu">e-mail</a>.</p>

  </section>
</div>
<!-- THANK YOU SECTION END -->

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
