---
title: Info
---

{{!-- INCLUDE NAV-MAIN --}}
{{> navmain }}

<div class="rw stage">
  {{#parseJSON '{"large":"stage-info-2400.png", "medium":"stage-info-1200.png", "small":"stage-info-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>Info</h1>
  </div>
</div>

{{!-- SECTION --}}
<div class="rw g-info">
  <section class="c-info">
    <h2>Dedicated to everyone who loves and writes CSS</h2>
    <p>In late September 2015, CSSconf EU will unite the CSS community in Berlin, Germany. This is your chance to meet top-notch engineers, great web designers, world-class speakers and anyone who cares about CSS. With this one-day, one-track conference, CSSconf EU aims to continue last year’s <a href="https://www.youtube.com/watch?v=BhMf-DFEdOA&index=12&list=PL37ZVnwpeshHAnqFlTxhd0MIXWjLBbM3R" target="_blank">amazing community experience.</a></p>
    <p>For this year, CSSconf EU is SOLD OUT. But we will try to announce on <a href="https://twitter.com/cssconfeu" target="_blank">twitter</a> if people have spare tickets to sell.</p>

    <hr>

    <h2>Date &amp; Venue</h2>
    <h3>Come to Berlin in September</h3>
    <p>CSSconf EU will take place on <strong>September 26, 2015</strong> in Berlin, offering a day packed with inspiring and insightful talks and time well spent in the company of great people. For details, see our <a href="/schedule">schedule</a>. </p>
    <p>The industrial building of <strong>Radialsystem V</strong> creates the perfect setting for a great day: located in the heart of Berlin, right next to the river Spree, our venue is very close to hotels, nightlife, restaurants and the buzzing Mitte, Kreuzberg and Friedrichshain districts.</p>
    <p><a href="//maps.google.com/?q=Radialsystem+V,+Holzmarktstraße+33,+10243+Berlin,+Germany" target="_blank">RADIALSYSTEM V - Holzmarktstraße 33, 10243 Berlin</a></p>

    <hr>

    <h2>How To Get There: Travel And Transport</h2>
    <h3>Berlin’s Airports</h3>
    <p>Berlin has two airports, both are located close to the city center at about a 30 minute taxi ride from the venue (ca. EUR 30). There are also trains and buses that connect the airports to Berlin Ostbahnhof station, which is only a 5 minute walk to the venue.</p>
    <p>
      <a href="http://www.berlin-airport.de/en/travellers-txl/to-and-from/buses-and-trains/index.php" target="_blank">Berlin-Tegel<small>(TXL)</small></a>
      <br>
      <a href="http://www.berlin-airport.de/en/travellers-sxf/to-and-from/buses-and-trains/index.php" target="_blank">Berlin-Schönefeld<small>(SXF)</small></a>
    </p>
    <h3>Public Transport To The Venue</h3>
    <p>The venue is located on the bank of the Spree River, just across the street from the train station Ostbahnhof. A five minute walk away from the station, it can be easily reached with the S-Bahn, by bus and by local and express trains.</p>
    <p>
      <a href="http://www.bvg.de/index.php/de/binaries/asset/download/21115/file/1-1" target="_blank">Subway map (PDF)</a>
      <br>
      <a href="http://www.bvg.de/index.php/de/binaries/asset/download/21111/file/1-1" target="_blank">Tram map (PDF)</a>
    </p>

{{!--
    <h3>Public Transport: Useful Apps</h3>
    <p>There are various mobile public transport apps that will help you navigate Berlin:</p>
    <h4>Web:</h4>
    <ul class="list-simple">
      <li>
        <a href="http://fahrinfo-berlin.de/Fahrinfo/bin/query.bin/en?ld=0.1&" target="_blank">Berlin Public Transport Web App</a>
      </li>
      <li>
        <a href="https://citymapper.com/berlin/" target="_blank">Citymapper</a>
      </li>
    </ul>
    <h4>iOS:</h4>
    <ul class="list-simple">
      <li>
        <a href="https://itunes.apple.com/app/fahrinfo-berlin/id284971745?mt=8" target="_blank" target="_blank">Fahrinfo Berlin</a>
      </li>
      <li>
        <a href="https://itunes.apple.com/us/app/db-navigator/id343555245?mt=8" target="_blank">DB Navigator</a>
      </li>
      <li>
        <a href="https://itunes.apple.com/app/citymapper-london-public-transport/id469463298" target="_blank">Citymapper</a>
      </li>
    </ul>
    <h4>Android:</h4>
    <ul class="list-simple">
      <li>
        <a href="https://play.google.com/store/apps/details?id=de.schildbach.oeffi" target="_blank">Öffi Public Transport Buddy</a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=de.hafas.android.vbb" target="_blank">Fahrinfo Mobil</a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=de.hafas.android.db" target="_blank">DB Navigator</a>
      </li>
    </ul>

    <p>Just add <a href="//maps.google.com/?q=Radialsystem+V,+Holzmarktstraße+33,+10243+Berlin,+Germany" target="_blank">Holzmarktstraße 33, 10243 Berlin</a> as your destination and these tools will help you find your way to Radialsystem V.</p>
--}}
    <h3>Getting Around By Car</h3>
    <h4>Parking</h4>
    <p>The compound of Radialsystem V includes two parking spaces for the disabled. Additional parking is available at the train station Ostbahnhof. Here’s a <a href="http://www.berlin.de/special/auto-und-motor/893408-44826-parkh%C3%A4userinberlin.html"  target="_blank">list of all covered car parks</a> in Berlin.</p>
    <h4>Car Sharing</h4>
    <p>Various suppliers for car sharing in Berlin give you the opportunity to pick up cars (they have an app for that) and drop them off (mostly) wherever you want to. The best-known are <a href="https://de.drive-now.com/en/" target="_blank">DriveNow,</a> <a href="https://www.car2go.com/en/berlin/" target="_blank">Car2Go</a> and <a href="https://www.multicity-carsharing.de/en/" target="_blank">Multicity</a>. Please be aware that the registration process may take some time and all companies require registration fees, so it may be only worth it if you’re planning a longer stay in town.</p>

    <hr>

    <h2>Where To Stay: Accommodation</h2>
    <h3>Hotel Recommendations</h3>
    <p>Below are a few hotels we recommend, all within walking distance from the venue. If none of those fit your needs, check out <a href="http://www.hrs.com/" target="_blank">HRS</a> or private accommodation options like <a href="https://www.airbnb.com/locations/berlin" target="_blank">AirBnB</a> or <a href="https://www.couchsurfing.org/" target="_blank">Couchsurfing</a>.</p>
    <ul class="list-simple">
      <li><a href="http://www.ibis.com/gb/hotel-3108-ibis-berlin-ostbahnhof/index.shtml" target="_blank">Hotel Ibis am Ostbahnhof <span>(30 sec walk)</span></a></li>
      <li><a href="http://www.nhow-hotels.com/berlin/en" target="_blank">Hotel NHow <span>(20 min walk)</span></a></li>
      <li><a href="http://www.michelbergerhotel.com/" target="_blank">Michelberger Hotel <span>(20 min walk)</span></a></li>
    </ul>

{{!--
    <!-- <p>We blocked a contingent of rooms for our attendees at the Ibis hotel. Read more in our <a href="http://2014.cssconf.eu/news/where-to-stay-when-travelling-to-cssconf-eu">blogpost about where to stay for CSSconf EU</a>.</p> -->

    <!-- <h2>Friday Warm Up</h2>
    <h3>Friday, Sept 25, 8pm, ??</h3>
    <p>We’re going to start CSSconf with relaxed hanging out at <a href="http://www.crackbellmer.de/">Crack Bellmer</a>, a typical Berlin-style bar in Berlin-Friedrichshain. There are two outside areas which allow you to chill and talk to people, or hit the dancefloor after 11pm in the main room. You’re welcome to bring along your friends as well! The event will also be the closing party of our friends from Reject JS, so expect to meet many community members there. Doors open at 8pm.</p>
    <h3>How To Get There</h3>
    <p>The bar is located on the “R.A.W.-Gelände” – <a href="https://www.google.de/maps/place/Crack+Bellmer+Bar/@52.5080819,13.4553573,18z/data=!4m6!1m3!3m2!1s0x47a84e59a70cd9b1:0x617130d6e7f9c511!2sRAW-+Tempel+e.V.!3m1!1s0x0:0x7c076e8191f2662">Revaler Straße 99, 10245 Berlin</a>.</p> -->

    <hr>

    <h2>Time to Party!</h2>
    <h3>Saturday, Sept 26, 7:30pm</h3>
    <p>A great day requires a great party and this is exactly what’s going to happen at the end of the day. Around 7pm, right after the talks end and the big family photo has been taken, we’ll come togehter for snacks and driks and most importantly: Talking and discussing the day with your fellow CSSconf attendees. More details will be announced soon.
    </p>

    <!-- <p>A great day requires a great party and this is exactly what’s going to happen at the end of the day. Around 7pm, right after the big family photo has been taken, we’ll walk over to our party venue, <a href="https://www.google.com/maps/dir//Stralauer+Allee+1,+10245+Berlin,+Germany/@52.5021214,13.4303896,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x416523a2b6eb3025:0x1d1d6f66f67791ca!2m2!1d13.447214!2d52.502298">Universal Osthafen</a>. We invite you to celebrate with us, and enjoy cool drinks on the beautiful patio right next to the water. You’ll have plenty of room to chat and connect with friends old and new, and if you feel like dancing, our DJ has the right music for you!</p>

    <h3>Dinner</h3>
    <p>Don’t worry about food: We’ll serve a light dinner at the beginning of the party, including vegetarian and vegan options.</p>
    <h3>How To Get There</h3>
    <p>The party venue is located at <a href="https://www.google.com/maps/dir//Stralauer+Allee+1,+10245+Berlin,+Germany/@52.5021214,13.4303896,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x416523a2b6eb3025:0x1d1d6f66f67791ca!2m2!1d13.447214!2d52.502298">Universal Osthafen, Stralauer Allee 1</a>. We’ll walk over together, our volunteer team will lead the way! We’ll also assist to get taxis for those who prefer to drive.</p>
    <p>By the way, if you are in Berlin only for the conference day and won’t get to do any sightseeing: On our walk to the party we’ll pass the famous <a href="http://en.wikipedia.org/wiki/East_Side_Gallery" target="_blank">Eastside Gallery</a>, the historical <a href="http://en.wikipedia.org/wiki/Oberbaum_Bridge">Oberbaumbrücke</a>, and from the patio at the party we’ll have a great view of the <a href="http://en.wikipedia.org/wiki/Molecule_Man_(sculpture)">Molecule Man</a>.</p> -->
--}}
    <hr>

    <h2>Other Great Events</h2>
    <h3>Meet The Berlin Tech Community</h3>
    <p>CSSconf EU is one of the core events of <a href="http://wwwtf.berlin/" target="_blank">wwwtf.berlin, pronounced WhatTheFest</a>: an entire week celebrating the web. WhatTheFest is not only community-driven conferences, but also hackathos, workshops, and social events. Here are our favorites and recommendations:</p>
<!--let's try to re-use the schedule markup and styling here -->
    <dl>
      <dt>Thursday, Sept 24</dt>
      <dd><a href="http://rejectjs.org/" target="_blank">Reject JS</a> <i>– recommended event, not part of the CSSconf EU ticket</i></dd>
      <dt>Friday, Sept 25 and Sunday, Sept 27</dt>
      <dd><a href="http://2015.jsconf.eu/" target="_blank">JSconf EU</a> <i>– recommended event, not part of the CSSconf EU ticket</i></dd>
    </dl>

    <hr>
{{!--
    <h2>Berlin</h2>
    <h3>Explore Germany’s Capital</h3>
    <p>Don’t miss out on the many great things that Berlin has to offer besides a tech community. Whether you want to go sightseeing, dive into the 24 hour nightlife, or check out great restaurants and the growing 3rd wave coffee scene – we have you covered. Read our blog post where we collected <a href="http://2014.cssconf.eu/news/things-to-do-places-to-visit-in-berlin" target="_blank">our favorite spots and activities in Berlin</a>, and follow this handy <a href="https://de.foursquare.com/ffffux/list/cssconfeus-favourites" target="_blank">Foursquare list</a> to never get lost when searching for a recommended bar or food spot on the go.</p>
--}}
  </section>
</div>

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

