---
title: CSSconf EU 2015
description: CSSconf EU 2015
---

{{> nav-main }}


<!-- SECTION -->
<div class="rw">
  <section class="g-tal">
    <h1>Info</h1>
    <h2>Dedicated to all people who love and write CSS</h2>

    <p>
      In the late days of 2015’s summer, CSSconf EU will unite the CSS community in Berlin. This is your chance to meet top-notch engineers, world-class speakers, great web designers and all people who care about CSS. With this one-day, one-track conference, CSSconf EU aims to continue last year’s <a href="https://storify.com/CSSconfEU/cssconf-eu-2013" target="_blank">amazing community experience.</a>
    </p>
    <p>
      Be a part of it, join us in Berlin!
    </p>
    <a href="https://ti.to/cssconfeu/cssconf-eu-2015/" target="_blank" class="btn">Buy Ticket</a>

  </section>
</div>
<!-- SECTION END -->

<!-- Long Text SECTION -->
<div class="rw">
  <section class="g-tal g-bgc">

    <h2>Date &amp; Venue</h2>
    <p>
      CSSconf EU will happen on <strong>September 12 2014</strong> in Berlin and offers one day packed with promising talks and time to spend with great people. For details, see our <a href="/schedule">schedule</a>.
    </p>
    <p>
      The industrial building of <strong>Radialsystem V</strong> creates the perfect setting for a great day: located in the heart of Berlin, right next to the river Spree, our venue is very close to hotels, nightlife, restaurants and the buzzing Mitte, Kreuzberg and Friedrichshain districts.
    </p>
    <p>
      <a href="//maps.google.com/?q=Radialsystem+V,+Holzmarktstraße+33,+10243+Berlin,+Germany" target="_blank">RADIALSYSTEM V - Holzmarktstraße 33, 10243 Berlin</a>
    </p>

    <h2>
      How To Get There: Travel And Transport
    </h2>

    <h3>Berlin’s Airports</h3>

    <p>
      Berlin has two airports, both are located close to the city center at about a 30 minute taxi ride (ca. EUR 30) distance from the venue. There are also trains and buses that connect the airports to Berlin Ostbahnhof station, which is only a 5 minute walk to the venue.
    </p>

    <p>
      <a href="http://www.berlin-airport.de/en/travellers-txl/to-and-from/buses-and-trains/index.php" target="_blank">
        Berlin-Tegel
        <small>(TXL)</small>
      </a>

      <a href="http://www.berlin-airport.de/en/travellers-sxf/to-and-from/buses-and-trains/index.php" target="_blank">
        Berlin-Schönefeld
        <small>(SXF)</small>
      </a>
    </p>

    <h3>Public Transport To The Venue</h3>
    <p>
      The venue is located on the bank of the Spree River, just across the street from the train station Ostbahnhof. A five minute walk away from the station, it can be easily reached with the S-Bahn, by bus and by local and express trains.
    </p>
    <ul>
      <li>
        <a href="http://www.bvg.de/index.php/de/binaries/asset/download/21115/file/1-1" target="_blank">Subway map (PDF)</a>
      </li>
      <li>
        <a href="http://www.bvg.de/index.php/de/binaries/asset/download/21111/file/1-1" target="_blank">Tram map (PDF)</a>
      </li>
    </ul>

    <h3>Public Transport: Useful Apps</h3>
    <p>There are various mobile public transport apps that will help you to navigate Berlin:</p>
    <ul>
      <li>
        Web:
        <br>
        <a href="http://fahrinfo-berlin.de/Fahrinfo/bin/query.bin/en?ld=0.1&" target="_blank">Berlin Public Transport Web App</a>
        <br>
        <a href="https://citymapper.com/berlin/" target="_blank">Citymapper</a>
      </li>
      <li>
        iOS:
        <br>
        <a href="https://itunes.apple.com/app/fahrinfo-berlin/id284971745?mt=8" target="_blank" target="_blank">Fahrinfo Berlin</a>
        <br>
        <a href="https://itunes.apple.com/us/app/db-navigator/id343555245?mt=8" target="_blank">DB Navigator</a>
        <br>
        <a href="https://itunes.apple.com/app/citymapper-london-public-transport/id469463298" target="_blank">Citymapper</a>
      </li>
      <li>
        Android:
        <br>
        <a href="https://play.google.com/store/apps/details?id=de.schildbach.oeffi" target="_blank">Öffi Public Transport Buddy</a>
        <br>
        <a href="https://play.google.com/store/apps/details?id=de.hafas.android.vbb" target="_blank">Fahrinfo Mobil</a>
        <br>
        <a href="https://play.google.com/store/apps/details?id=de.hafas.android.db" target="_blank">DB Navigator</a>
      </li>
    </ul>
    <p>
      Just add <a href="//maps.google.com/?q=Radialsystem+V,+Holzmarktstraße+33,+10243+Berlin,+Germany" target="_blank">Holzmarktstraße 33, 10243 Berlin</a> as your destination and these tools will help you find your way to the conference venue.
    </p>

    <h2>Getting Around By Car</h2>

    <h3>Parking</h3>
    <p>
      The compound of Radialsystem V includes two parking spaces for the disabled. Additional parking is available at the train station Ostbahnhof. Here’s a <a href="http://www.berlin.de/special/auto-und-motor/893408-44826-parkh%C3%A4userinberlin.html"  target="_blank">list of all covered car parks</a> in Berlin.
    </p>

    <h3>Car Sharing</h3>
    <p>
      Various suppliers for car sharing in Berlin give you the opportunity to pick up cars (they have an app for that) and drop them off (mostly) wherever you want to. The best-known are <a href="https://de.drive-now.com/en/" target="_blank">DriveNow,</a> <a href="https://www.car2go.com/en/berlin/" target="_blank">Car2Go</a> and <a href="https://www.multicity-carsharing.de/en/" target="_blank">Multicity</a>. Please consider that the registration process may take some time and all companies require registration fees, so it may be only worth it if you’re planning a longer stay in town.
    </p>

    <h2>Where To Stay: Accommodation</h2>
    <h3>Hotel Recommendations</h3>
    <p>
      A few hotels we recommend, all within walking distance. If none of those fit your needs, check out <a href="http://www.hrs.com/" target="_blank">HRS</a> or private accommodation options like <a href="https://www.airbnb.com/locations/berlin" target="_blank">AirBnB</a> or <a href="https://www.couchsurfing.org/" target="_blank">Couchsurfing</a>.
    </p>

    <ul>
      <li>
        <a href="http://www.ibis.com/gb/hotel-3108-ibis-berlin-ostbahnhof/index.shtml" target="_blank">Hotel Ibis am Ostbahnhof <span>30 sec walk</span></a>
      </li>
      <li>
        <a href="http://www.nhow-hotels.com/berlin/en" target="_blank">Hotel NHow <span>20 min walk</span></a>
      </li>
      <li>
        <a href="http://www.michelbergerhotel.com/" target="_blank">Michelberger Hotel <span>20 min walk</span></a>
      </li>
    </ul>

    <p>
      We blocked a contingent of rooms for our attendees at the Ibis hotel. Read more in our <a href="http://2014.cssconf.eu/news/where-to-stay-when-travelling-to-cssconf-eu">blogpost about where to stay for CSSconf EU</a>.
    </p>

    <h2>Friday Warm Up</h2>
    <h3>Friday, Sept 25, 8pm, ??</h3>
    <p>
      We’re going to start CSSconf with relaxed hanging out at <a href="http://www.crackbellmer.de/">Crack Bellmer</a>, a typical Berlin-style bar in Berlin-Friedrichshain. There are two outside areas which allow you to chill and talk to people, or hit the dancefloor after 11pm in the main room. You’re welcome to bring along your friends as well! The event will also be the closing party of our friends from Reject JS, so expect to meet many community members there. Doors open at 8pm.
    </p>
    <h3>How To Get There</h3>
      The bar is located on the “R.A.W.-Gelände” – <a href="https://www.google.de/maps/place/Crack+Bellmer+Bar/@52.5080819,13.4553573,18z/data=!4m6!1m3!3m2!1s0x47a84e59a70cd9b1:0x617130d6e7f9c511!2sRAW-+Tempel+e.V.!3m1!1s0x0:0x7c076e8191f2662">Revaler Straße 99, 10245 Berlin</a>.
    </p>

    <h2>Time to Party!</h2>
    <h2>Saturday, Sept 26, 7:30pm, Universal am Osthafen</h2>
    <p>A great day requires a great party and this is exactly what’s going to happen at the end of the day. Around 7pm, right after the big family photo has been taken, we’ll walk over to our party venue, <a href="https://www.google.com/maps/dir//Stralauer+Allee+1,+10245+Berlin,+Germany/@52.5021214,13.4303896,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x416523a2b6eb3025:0x1d1d6f66f67791ca!2m2!1d13.447214!2d52.502298">Universal Osthafen</a>. We invite you to celebrate with us, and enjoy cool drinks on the beautiful patio right next to the water. You’ll have plenty of room to chat and connect with friends old and new, and if you feel like dancing, our DJ has the right music for you!
    </p>
    <h2>Dinner</h2>
    <p>
      Don’t worry about food: We’ll serve a light dinner at the beginning of the party, including vegetarian and vegan options.
    </p>

    <h2>How To Get There</h2>
    <p>
      The party venue is located at <a href="https://www.google.com/maps/dir//Stralauer+Allee+1,+10245+Berlin,+Germany/@52.5021214,13.4303896,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x416523a2b6eb3025:0x1d1d6f66f67791ca!2m2!1d13.447214!2d52.502298">Universal Osthafen, Stralauer Allee 1</a>. We’ll walk over together, our volunteer team will lead the way! We’ll also assist to get taxis for those who prefer to drive.
    </p>
    <p>
      By the way, if you are in Berlin only for the conference day and won’t get to do any sightseeing: On our walk to the party we’ll pass the famous <a href="http://en.wikipedia.org/wiki/East_Side_Gallery" target="_blank">Eastside Gallery</a>, the historical <a href="http://en.wikipedia.org/wiki/Oberbaum_Bridge">Oberbaumbrücke</a>, and from the patio at the party we’ll have a great view of the <a href="http://en.wikipedia.org/wiki/Molecule_Man_(sculpture)">Molecule Man</a>.
    </p>

    <h2>Other Great Events</h2>
    <h3>Meet The Berlin Tech Community</h3>

    <p>
      CSSconf EU is one of the core events of <a href="http://jsfest.berlin/" target="_blank">JSFest</a>: An entire week full of community-driven conferences, hackathons, workshops and social events. Here are our favorites and recommendations:
    </p>

<!--let's try to re-use the schedule markup and styling here -->
    <dl>
      <dt>Tuesday, Sept 22</dt>
      <dd><a href="http://up.front.ug/" target="_blank">up.front.ug</a> <i>– recommended event, free admission</i></dd>
      <dt>Thursday, Sept 24</dt>
      <dd>
          <a href="http://rejectjs.org/" target="_blank">Reject JS</a> <i>– recommended event, not part of the CSSconf EU ticket</i>
      </dd>
      <dt>Friday, Sept 25 and Sunday, Sept 27</dt>
      <dd><a href="http://2015.JSconf.eu/" target="_blank">JSconf EU</a> <i>– recommended event, not part of the CSSconf EU ticket</i></dd>
    </dl>

    <h2>Berlin</h2>
    <h3>Explore Germany’s Capital</h3>
    <p>
      Don’t miss out on the many great things that Berlin has to offer besides a tech community. Whether you want to go sightseeing, dive into the 24 hour nightlife, or check out great restaurants and the growing 3rd wave coffee scene – we have you covered. Read our blog post where we collected <a href="http://2014.cssconf.eu/news/things-to-do-places-to-visit-in-berlin" target="_blank">our favorite spots and activities in Berlin</a>, and follow this handy <a href="https://de.foursquare.com/ffffux/list/cssconfeus-favourites" target="_blank">Foursquare list</a> to never get lost when searching for a recommended bar or food spot on the go.
    </p>

  </section>
</div>
<!-- THANK YOU SECTION END -->


{{#parseJSON '{"cssClass":"--is-black"}' }}
  {{> arrow }}
{{/parseJSON}}

{{> zebra-stripes }}

{{> nav-sub }}

{{> social-bar }}

{{> page-footer }}

{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  {{> arrow }}
{{/parseJSON}}