---
title: Schedule
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-coc-2400.png", "medium":"stage-coc-1200.png", "small":"stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- INTRODUCTION SECTION --}}
<div class="rw g-schedule">
  <section class="c-schedule">
    <div class="cl">
      <h1>{{title}}</h1>
      <ul class="list--schedule">
        <li class="list--schedule__el">
          <a class="list--schedule__a" href="/">
            <time class="list--schedule__time">9:45</time>
            <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
            <div class="text">
            <h2>Claudina Sarahe</h2>
            <p>Claudina is an NYC-based entrepreneur, front end architect, tech event organizer, and speaker.</p>
            </div>
          </a>
        </li>
        <li class="list--schedule__el">
          <a class="list--schedule__a" href="/">
            <time class="list--schedule__time">9:45</time>
            <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
            <div class="text">
            <h2>Claudina Sarahe</h2>
            <p>Claudina is an NYC-based entrepreneur, front end architect, tech event organizer, and speaker.</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

