---
title: Schedule
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-coc-2400.png", "medium":"stage-coc-1200.png", "small":"stage-sub-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- INTRODUCTION SECTION --}}
<div class="rw g-schedule">
  <section class="c-schedule">
    <div class="cl">
      <h1>{{title}}</h1>
      <p>Our schedule is in the making and you'll find it on this page in the coming days. In the meantime, here is a general outline of the day:</p> 
  
      <p>CSSconf EU will begin at 8:30 and end at 19:30. Breakfast, lunch and dinner will be served on the day, and will all include veggie options. You're then invited to join us for the CSSconf EU party, which will be held at our venue, Radialsystem V.</p>

      <p>We look forward to seeing you in Berlin soon!</p>
    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

