---
title: Schedule
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-coc-2400.png", "medium":"stage-coc-1200.png", "small":"stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- INTRODUCTION SECTION --}}
<div class="rw g-schedule">
  <section class="c-schedule">
    <div class="cl">
      <h1>{{title}}</h1>
      <ul class="list--schedule">
        <li class="list--schedule__el">
          <time class="list--schedule__time">8:30</time>
          <h2>Doors open 🎉</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">9:30</time>
          <h2>Opening Remarks 🎤</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">9:45 - 9:55</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/nick-hehr.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Nick Hehr</a></h2>
            <p>Intro</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">10:00 - 10:30</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Claudina Sarahe</a></h2>
            <p>The Front-End Revolution</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">10:35 - 11:05</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Una Kravets</a></h2>
            <p>Photoshop is Dead!: Editing Images in CSS</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">11:10</time>
          <h2>Coffee Break ☕</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">11:25 - 11:55</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Michael Mifsud</a></h2>
            <p>It's All Just Functions And Variables</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">12:00 - 12:50</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Lea Verou</a></h2>
            <p>The Missing Slice</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">12:50 - 14:00</time>
          <h2>Lunch 🍝🍴</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">14:00 - 14:30</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Horia Dragomir</a></h2>
            <p>I don't want to be on Facebook the whole day!</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">14:35 - 15:05</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Glen Maddern</a></h2>
            <p>Interoperable CSS</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">15:10</time>
          <h2>Coffee Break ☕️</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">15:25 - 15:55</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Tammie Lister</a></h2>
            <p>Emotion Through CSS</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">16:00 - 16:30</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Katie Kurkoski</a></h2>
            <p>Developing for Localization: CSS Techniques To Get Your Message Across To The World Wide Web</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">15:10</time>
          <h2>Longer coffee Break with cake ☕️🍰</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">17:15 - 17:45</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Zoe M. Gillenwater</a></h2>
            <p>Flexbox</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">17:50 - 18:20</time>
          <img class="list--schedule__img" src="/assets/1.3.1/img/speakers/claudina-sarahe-s.jpg">
          <div class="list--schedule__text">
            <h2><a class="anchor--has-underline" href="/">Tim Holman</a></h2>
            <p>Fun.css</p>
          </div>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">18:25</time>
          <h2>Closing Remarks 🎤</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">18:35</time>
          <h2>Family Photo 💖📷</h2>
        </li>
        <li class="list--schedule__el">
          <time class="list--schedule__time">19:00</time>
          <h2>Party / Dinner 🎊🎉</h2>
        </li>
      </ul>
    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

