---
title: Schedule
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-coc-2400.png", "medium":"stage-coc-1200.png", "small":"stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- INTRODUCTION SECTION --}}
<div class="rw g-schedule">
  <section class="c-schedule">
    <div class="cl">
      <h1>{{title}}</h1>
      <p>Details tba</p>
    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

