---
title: Scholarships
---

{{> navmain }}

<div class="rw stage">
  {{#parseJSON '{"large":"stage-cfs-2400.png", "medium":"stage-cfs-1200.png", "small":"stage-cfs-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>{{title}}</h1>
    <!-- <a href="https://docs.google.com/forms/d/1NKSwnoWOVgFu0F_04rQyouJM0kOJPTs_cX2yndoU5Qk/viewform" class="stage__button btn--special">
      <span class="btn__span" data-hover="Apply Now">Apply Now</span>
    </a> -->
  </div>
</div>


<!-- SECTION -->
<div class="rw g-scholarships">
  <section class="c-scholarships">

      <p>
        At CSSconf EU, we strive to bring together the most diverse group of people possible — <strong>we firmly believe in equality</strong>, which is why we invite anyone and everyone to participate. In order to make this possible, we are proud to announce our Scholarships Initiative for people who wouldn't otherwise be able to attend.
      </p>

      <p>
        Our scholarships fund will support roughly <strong>sixty individuals</strong> to attend CSSconf EU and/or JSConf EU, and/or Reject.JS. Scholarships <strong>are fully sponsored</strong> (i.e. free) tickets that will be awarded after an application process and lottery. Travel expenses and accommodation, if required, will also be covered.
      </p>

      <p>
        Anyone from an underrepresented group in tech is invited to apply for a scholarship. This includes, but is not limited to: women, people of colour, LGBTQIA+ people, disabled people, and people facing economic or social hardships.
      </p>
      
      <hr>
      
      <p>
      <strong>The deadline for scholarship applications has now expired!</strong>
      <br/>All submissions have been reviewed, and all applicants have been contacted.</p>

      <hr>
     <p>Granting these scholarships is made possible thanks to our <a href="/diversity-support-tickets/">Diversity Support Tickets</a> initiative and the generous contributions made by our <a href="/sponsors">sponsors</a>. More help is needed – talk to us if you'd like to get involved: <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>.</p>
  </section>
</div>

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
