---
title: Scholarships
---

{{> navmain }}

<div class="rw stage">
  {{#parseJSON '{"large":"stage-cfs-2400.png", "medium":"stage-cfs-1200.png", "small":"stage-cfs-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>{{title}}</h1>
  </div>
</div>

<!-- SECTION -->
<div class="rw g-scholarships">
  <section class="c-scholarships">
      <p>This year CSSconf EU is offering dedicated scholarships to individuals from under-represented and disadvantaged backgrounds who wouldn’t otherwise be able to attend the conference. Granting these scholarships is made possible thanks to our <a href="/diversity-support-tickets/">Diversity Support Tickets</a> initiative and contributions made by our sponsors.</p>

      <p>We are now accepting scholarship applications! If you’re interested in applying, please fill out the <a class="anchor--has-underline" href="https://docs.google.com/forms/d/1NKSwnoWOVgFu0F_04rQyouJM0kOJPTs_cX2yndoU5Qk/viewform" target="_blank">application form</a>! Should you have any further questions, feel free to drop us a line: <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a></p>
      <p>Deadline for applications: Sunday, July 12, 2015.</p>
  </section>
</div>

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
