---
title: Speakers Guide
---

{{> navmain }}

<div class="rw stage">
  {{#parseJSON '{"large":"stage-cfs-2400.png", "medium":"stage-cfs-1200.png", "small":"stage-cfs-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>{{title}}</h1>
  </div>
</div>


<!-- SECTION -->
<div class="rw g-scholarships">
  <section class="c-scholarships">
    <h2>Dear CSSconf EU Speakers,</h2>
    <p>Thanks again for being part of CSSconf EU 2015! We're really excited to meet you in Berlin and created this site to answer any questions, and help make your travels and your stay here as smooth as possible. Please let us know if we there's anything we haven't addressed, and contact us any time if you need help or assistance!</p>

    <h2>The Team, Here to Help!</h2>
    <p>Should you have any questions or requests, always feel free to ask!</p>

    <div class="row-simple">
      <figure class="row-simple__el">
        <img class="row-simple__img"
          srcset="/assets/1.2.4/img/michael-pfeiffer.jpg 387w,
                /assets/1.2.4/img/michael-pfeiffer-m.jpg 200w,
                /assets/1.2.4/img/michael-pfeiffer-s.jpg 140w"
          src="/assets/1.2.4/img/michael-pfeiffer-s.jpg"
          alt="Portrait picture of Michael Pfeiffer">
        <figcaption>
          <p>Michael Pfeiffer<br>
            <a href="https://twitter.com/m_p_pfeiffer" target="_blank">@m_p_pfeiffer</a><br>

            <a href="mailto:michael@cssconf.eu">michael@cssconf.eu</a>
          </p>
        </figcaption>
      </figure>
      <figure class="row-simple__el">
        <img class="row-simple__img"
        srcset="/assets/1.2.4/img/kristina-schneider.jpg 387w,
                /assets/1.2.4/img/kristina-schneider-m.jpg 200w,
                /assets/1.2.4/img/kristina-schneider-s.jpg 140w"
        src="/assets/1.2.4/img/kristina-schneider-s.jpg"
        alt="Portrait picture of Kristina Schneider">
        <figcaption>
          <p>Kristina Schneider<br>
            <a href="https://twitter.com/kriesse" target="_blank">@kriesse</a><br>

            <a href="mailto:kristina@cssconf.eu">kristina@cssconf.eu</a>
          </p>
        </figcaption>
      </figure>
      <figure class="row-simple__el">
        <img class="row-simple__img"
        srcset="/assets/1.2.4/img/kevin-lorenz.jpg 387w,
                /assets/1.2.4/img/kevin-lorenz-m.jpg 200w,
                /assets/1.2.4/img/kevin-lorenz-s.jpg 140w"
        src="/assets/1.2.4/img/kevin-lorenz-s.jpg"
        alt="Portrait picture of Kevin Lorenz">
        <figcaption>
          <p>Kevin Lorenz <br>
            <a href="https://twitter.com/verpixelt" target="_blank">@verpixelt</a><br>

            <a href="mailto:kevin@cssconf.eu">kevin@cssconf.eu</a>
          </p>
        </figcaption>
      </figure>
    </div>

    <h2>Your Hotel</h2>
    <p><strong>Ibis am Ostbahnhof | An der Schillingbrücke 2 | 10243 Berlin</strong></p>
    <p>We have booked a room for you from Friday to Sunday (unless you confirmed other dates with us or have private accommodation). If your company pays for your accommodation: Great! Please let us know at <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>, and we’ll issue an invoice.</p>

    <h2>The Conference Venue</h2>
    <p><a href="//maps.google.com/?q=Radialsystem+V,+Holzmarktstraße+33,+10243+Berlin,+Germany" target="_blank">RADIALSYSTEM V - Holzmarktstraße 33, 10243 Berlin</a></p>

    <div class="img-row img-row--clear">
      <img class="img-row__element" src="/assets/img/radial2--cropped.jpg"
    alt="Radialsystem outside view">
      <img class="img-row__element" src="/assets/img/radial1--cropped.jpg"
    alt="Radialsystem building">
      <img class="img-row__element" src="/assets/img/radial3--cropped.jpg"
    alt="Radialsystem inside view">
    </div>

    <p>The industrial building of <strong>Radialsystem V</strong> creates the perfect setting for a great day: located in the heart of Berlin, right next to the river Spree, our venue is very close to hotels, nightlife, restaurants and the buzzing Mitte, Kreuzberg and Friedrichshain districts.</p>

    <p>The distance from your hotel to the venue is <a href="https://www.google.de/maps/dir/Ibis+am+Ostbahnhof,+An+der+Schillingbr%C3%BCcke+2,+10243+Berlin/Radialsystem+V,+Holzmarktstra%C3%9Fe+33,+10243+Berlin/@52.5102384,13.4272308,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47a84e38597caced:0x19ac055ffedc41b!2m2!1d13.429641!2d52.509875!1m5!1m1!1s0x47a84e3900263f87:0xf3893f5141a5c0fc!2m2!1d13.428635!2d52.510387?hl=en" target="_blank">just 140m</a>.</p>

    <h2>Reimbursements</h2>
    <p>We will reimburse you for your travel related expenses. If your company has offered to pay: Awesome, thanks! We’d be happy to list them as a supporter on our website, please let us know.</p>
    <p>To get reimbursed for your travel expenses, we ask that you email the following to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>:</p>
    <ol>
      <li>An invoice of your travel expenses. The invoice recipient is:<br>
          SinnerSchrader Deutschland GmbH<br>
          Holger Blank<br>
          Völckersstr. 38<br>
          22765 Hamburg<br>
    <p></p> The invoice should also include:</p>
          <ul>
            <li>Your name and address</li>
            <li>Your bank’s international routing information, which is usually something like Swift/BIC, IBAN</li>
            <li>Additional information like the address of the bank is helpful too, to make sure the international wire goes through without issues.</li>
          </ul>
      </li>
      <li>Please add the receipts for your flight(s), taxi, bus or other public transport rides to your invoice.</li>
      <li>Please send the invoice and all receipts via email to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>. We will then forward it to our accountants and get the wire initiated.</li>
    </ol>

  <h2>Technical Information and Schedule</h2>
  <ul>
    <li>The day will start at 8:30am with breakfast and registration; talks will begin at 9:30am. It’s advisable that you arrive before 9:30am, so that we can set up your notebook for a test run and make sure everything works.</li>
    <li>As a speaker, you won’t have to queue at the venue for checking in, you can come to the registration desk directly. You’ll then get your speaker bag with your conference pass.</li>
    <li>Projector resolution is full HD (1080p), that is 1920x1080.</li>
    <li>You can connect to the projector with VGA, HDMI or DVI. Adapters will be provided.</li>
    <li>You can connect your notebook to the audio, cable will be provided.</li>
    <li>There will be power supplies.</li>
    <li>Please be prepared to provide the technicians with your presentation, e.g. via USB stick.</li>
    <li>You’ll be given a headset, so you’ll have your hands free during your talk.</li>
    <li>A presentation clicker can be provided.</li>
    <li>WiFi as well as ethernet access will be available. It should be reliable, but you’re always better off having a fallback option in case the connection doesn’t work.</li>
    <li>Each talk slot is 30 minutes, no Q&amp;A. We believe it’s way better to discuss things in smaller groups afterwards and you’ll have enough time and space to do that.</li>
    <li>All talks will be professionally recorded and released after the conference. They will be publicly accessible for free, so that everyone can learn from the awesome talks you delivered. If you wish not to have your talk recorded and published, or have any issues regarding copyright (incl. embedded images or similar), please let us know.</li>
    <li>If you plan to show any code, remember to increase the font size. A lot ;-)</li>
  </ul>


  <h2>Parties</h2>
  
  <h3>Friday: CSSconf Opening Party</h3>
  <p>
    On Friday evening, there will be no formal speaker dinner – instead we invite you to celebrate with us and the community at the shared JSconf+CSSconf party! More details soon.
  </p>

  <h3>Saturday: CSSconf Closing Party</h3>
  <p>
    The CSSconf Party will happen right after the end of the conference day. More details soon.
  </p>
  
  <h2>WhatTheFest (wwwtf.berlin)</h2>
  
  <p>CSSconf EU is one of the core events of <a href="http://wwwtf.berlin/" target="_blank">WhatTheFest</a>, an entire week full of community-driven conferences, hackathons, workshops, and social events. Here are our favorites and recommendations:</p>
  <!--let's try to re-use the schedule markup and styling here -->
  <dl>
    <dt>Sunday, Sept 20</dt>
    <dd><a href="http://upfront.ug/" target="_blank">CSSclasses</a> <i>– Our free workshop series for absolute CSS beginners. RSVP required.</i></dd>
    http://cssclasses.cssconf.eu/
    <dt>Tuesday, Sept 22</dt>
    <dd><a href="http://upfront.ug/" target="_blank">Up.front.ug</a> <i>– Berlin's meetup for the web design community. No RSVP or ticket required.</i></dd>
    <dt>Thursday, Sept 24</dt>
    <dd><a href="http://rejectjs.org/" target="_blank">Reject JS</a> <i>– The local JavaScript community conference. Tickets have to be purchased.</i></dd>
    <dt>Friday, Sept 25 and Sunday, Sept 27</dt>
    <dd><a href="http://2015.jsconf.eu/" target="_blank">JSConf EU</a> <i>– THE European JavaScript conference. Tickets have to be purchased.</i></dd>
  </dl>
  <p>
    While we share the same venue, JSConf EU and Reject JS are separate events from CSSconf EU, and tickets have to be purchased. If you are interested in attending one of the (now sold-out) events, let us know and we will put you in touch with the respective organizers.
    <br>
    All social events (parties of all events from Thursday to Monday, relax.js) are free for CSSconf EU speakers.
  </p>

  <h2>Code of Conduct</h2>
  <p>One last but very important point: We’re an inclusive community event and we want CSSconf EU to be a safe place for everyone to make new friends, share knowledge, learn new stuff, get excited and gain insights reglardless of skin colour, gender, religious views, sexual preference, etc.</p>
  <p>We want our community to be tolerant and welcoming, and everyone at the conference is required to agree and act according to our <a href="http://2015.cssconf.eu/code-of-conduct" target="_blank">Code of Conduct</a>. – Should you encounter or observe any form of harrassment, please let us know and we’ll take care of it!</p>

  <hr>

</div>


{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE SPONSORS --}}
{{> sponsors }}

{{!-- INCLUDE ZEBRA STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOCIAL BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
