---
title: Speakers
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"/assets/img/stage-coc-2400.png", "medium":"/assets/img/stage-coc-1200.png", "small":"/assets/img/stage-coc-600.png", "altText":"A lot of shapes."}'}}
    {{> stage }}
  {{/parseJSON}}
</div>

{{!-- INTRODUCTION SECTION --}}
<div class="rw g-coc">
  <section class="c-coc">
    <div class="cl">
      <h1>{{title}}</h1>
      <p>More speakers to be announced soon. Our <a href-"/call-for-speakers/">call for speakers</a> is open until July 15 2015.</p>
      <a href="/call-for-speakers/" class="btn--special"><span class="btn__span" data-hover="Submit Talk Now">Submit Talk Now</span></a>
    </div>

    <div class="cl">
      {{> speaker }}
    </div>

  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOVIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}

