---
title: Sponsors
---

{{> navmain }}
<div class="rw stage">
  {{#parseJSON '{"large":"stage-sponsors-2400.png", "medium":"stage-sponsors-1200.png", "small":"stage-sponsors-600.png", "altText":"The Audience."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>{{title}}</h1>
    <a href="mailto:contact@cssconf.eu" class="stage__button btn--special">
      <span class="btn__span" data-hover="Request Sponsor Information">Request Sponsor Information</span>
    </a>
  </div>
</div>


{{!-- INTRODUCTION SECTION --}}
<div class="rw g-sponsors">
  <section class="c-sponsors">
    <div class="cl">
      <h2>From the community, for the community</h2>
      <p>
        CSSconf EU is a not-for-profit conference dedicated to the creatives and engineers who build the world’s most engaging user interfaces. For the third year in a row, CSSconf EU will gather a diverse audience of more than 400 brilliant developers and designers who share a passion for the design language of the web: CSS. 
      </p>

      <p>
        The talks focus on the latest technologies, cutting edge techniques, and tools. CSSconf creates a platform for the young and evolving CSS community. It bridges the gap between designers and developers and connects experienced professionals with new talent.
      </p>

      <p>
        <a href="https://www.youtube.com/watch?v=BhMf-DFEdOA&index=12&list=PL37ZVnwpeshHAnqFlTxhd0MIXWjLBbM3R">Watch the CSSconf 2014 film</a>
      </p>

      <hr>

      <p>
      <h2>Your Support Is Needed</h2>
      <p>
        CSSconf EU is organized entirely by a team of committed volunteers and every penny goes towards making it the high-quality, diverse event it is. We are always excited to discuss sponsorship and media partner opportunities, please reach out to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a> for details.
      </p>

      <hr>

      <h2>Why sponsor CSSconf EU?</h2>
      
      <h3>International, Local, Collaborative</h3>
      <p>
        CSSconf EU is one of the main events of <a href="http://wwwtf.berlin/">Web Tech Fest Berlin</a> - a week full of conferences, workshops, hackathons dedicated to web development and design. Internationally, we work closely together with our colleagues from CSSconf in Australia, Asia, and the US. 
      </p>
      <h3>Reaching Creatives in the Community…</h3>
      <p>
        22.000+ YouTube subscribers    |    3.400+ Twitter followers    |    1000+ JSFest-Attendees
      </p>
      <h3>…from 30+ Countries</h3>
      <p>
        Every year, CSSconf EU is attended by people from all corners of the world: Germany, US, UK, Sweden, Australia, Russia, New Zealand, Norway, Switzerland, Netherlands, Denmark, France, Poland, Iran, Spain, Portugal, Austria, Lebanon, India, Canada, Finland, Estonia, Kenya, Japan.
      </p>
      <h3>Safe, Diverse and Inclusive</h3>
      <p>
        CSSconf EU holds itself up to high standards of community and diversity. Our priority is to create a welcoming and safe space. We strive to bring diverse voices on stage and in 2013 and 2014, more than 40% of the speakers at the conference were female. 
      </p>
      <h3>Educational and Encouraging</h3>
      <p>
        To achieve our goal, we actively encourage new and upcoming speakers, we run <a href="http://cssclasses.cssconf.eu/">free CSS workshops</a> for beginners, we collaborate with tech education initiatives, and we enforce a <a href="http://2015.cssconf.eu/code-of-conduct/">Code of Conduct</a>. 
      </p>
      <h3>Enabling</h3>
      <p>
        We offer <a href="http://2015.cssconf.eu/diversity-support-tickets/">Diversity Tickets</a> which enable more members of underrepresented groups to attend CSSconf EU. Sponsors can help us with that, too – <a href="mailto:contact@cssconf.eu">ask us for ways to get involved</a>!
      </p>
      <h3>Strictly Not-for-profit</h3>
      <p>
        To achieve our goal, we actively encourage new and upcoming speakers, we run free CSS workshops for beginners, we collaborate with tech education initiatives, and we enforce a Code of Conduct. 
      </p>
      <p>
        CSSconf EU is organized by volunteers. Every penny we raise goes towards making the conference better.
      </p>
     <p>
        <a href="mailto:contact@cssconf.eu" class="btn--special"><span class="btn__span" data-hover="Get Sponsor Information">Get Sponsor Information</span></a>
      </p>
    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}


{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  <div class="arrow">
    <a class="arrow__link" href="#bottom">
    {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOVIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  <div class="arrow">
    <a class="arrow__link" href="#top">
      {{> arrow }}
    </a>
  </div>
{{/parseJSON}}
