---
title: CSSconf EU 2015
description: CSSconf EU 2015
---

{{> nav-main }}
<div class="rw stage">
  {{#parseJSON '{"large":"assets/img/stage-sponsors-2400.jpg", "medium":"assets/img/stage-sponsors-1200.jpg", "small":"assets/img/stage-sponsors-600.jpg", "altText":"The Audience."}'}}
    {{> stage }}
  {{/parseJSON}}
  <div class="stage__content stage__content--subpage">
    <h1>Sponsors</h1>
    <a href="/" class="stage__button btn--special">
      <span class="btn__span" data-hover="Request Sponsor Information">Request Sponsor Information</span>
    </a>
  </div>
</div>


{{!-- INTRODUCTION SECTION --}}
<div class="rw g-sponsors">
  <section class="c-sponsors">
    <div class="cl">
      <h2>From the community, for the community</h2>
      <p>
        CSSconf EU is a volunteer-organized non-profit conference dedicated to the people who work at
the intersection of web design and development. For the third year in a row, CSSconf EU will gather a diverse audience of more than 400 top notch developers and designers that share a passion for the design language of the web: CSS. The talks focus on the latest technologies, cutting edge techniques and tools. CSSconf creates a platform for the young and evolving CSS community. It bridges the gap between designers and developers, connects experienced professionals with new talents.
      </p>
      <p>
        <a href="https://www.youtube.com/watch?v=BhMf-DFEdOA&index=12&list=PL37ZVnwpeshHAnqFlTxhd0MIXWjLBbM3R">Watch the CSSconf 2014 film</a>
      </p>
      <p>
      <h2>Your Support Is Needed</h2>
      <p>
      We are looking for sponsors and media partners to support us in making this a great and diverse event of the highest quality. Organized by a volunteer team, every penny we earn is spent to make the conference better. Your help is greatly needed. To learn more about our sponsorship opportunities, please reach out to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a> and request our detailed information.
      </p>

      <p>
        <a href="mailto:contact@cssconf.eu" class="btn--special"><span class="btn__span" data-hover="Learn More">Get Sponsor Information</span></a>
      </p>

      <h2>Be part of the community</h2>
      <p>
        By sponsoring CSSconf EU, you reach an international audience. People are coming to CSSconf EU from all over the world: Germany, US, UK, Sweden, Australia, Russia, New Zealand, Norway, Switzerland, Netherlands, Denmark, France, Poland, Iran, Spain, Portugal, Austria, Lebanon, India, Canada, Finland, Estonia, Kenya, Japan… CSSconf EU holds itself up to high standards of community and diversity.
      </p>

      <p>
        Our priority is to create a welcoming and safe space. We strive to bring diverse voices on stage – and we are successful: For example, in 2013 and 2014, we brought more than 40% female speakers on stage. Every year, speaking newcomers celebrated their debut talks at CSSconf EU. To achieve our goal, we actively encourage new and upcoming speakers, we run free CSS workshops for beginners, we collaborate with tech education initiatives, and we enforce a Code of Conduct. In 2015, we plan to do even better: Our diversity support ticket program will enable more members of underrepresented groups to attend CSSconf EU. Sponsors can help us with that – <a href="mailto:contact@cssconf.eu">ask us for ways to get involved</a>!
      </p>

    </div>
  </section>
</div>
{{!-- INTRODUCTION SECTION END --}}


{{!-- INCLUDE ARROW WITH ADDITIONAL CLASS --}}
{{#parseJSON '{"cssClass":"--is-black"}' }}
  {{> arrow }}
{{/parseJSON}}

{{!-- INCLUDE ZEBRA-STRIPES --}}
{{> zebra-stripes }}

{{!-- INCLUDE NAV-SUB --}}
{{> nav-sub }}

{{!-- INCLUDE SOVIAL-BAR --}}
{{> social-bar }}

{{!-- INCLUDE PAGE-FOOTER --}}
{{> page-footer }}

{{!-- INCLUDE ARROW WITH ADDITIONAL CLASSES --}}
{{#parseJSON '{"cssClass":"--is-blue", "cssClassTwo":"is-transformed"}'}}
  {{> arrow }}
{{/parseJSON}}

